# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
www/build/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
platforms/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata
platforms/ios/Math City Map.xcodeproj/xcuserdata
platforms/ios/Math City Map.xcworkspace/xcuserdata
platforms/android/CordovaLib/build
platforms/ios/Math City Map.xcarchive
platforms/android/assets/www/build
*.lock
*.bin
platforms/ios/MathCityMap.xcodeproj/xcuserdata
www/assets
platforms/android/assets/www/assets
platforms/ios/www/assets
platforms/ios/MathCityMap.xcodeproj/project.xcworkspace/xcuserdata
release-signing.properties
platforms/ios/MathCityMap.xcworkspace/xcuserdata
platforms/android/.gradle
