page-routes-list {
    ion-list{
        &.downloaded{
            route-teaser{
                .container{
                    &.image{
                        order: 3;
                        @include size(15vw);

                    }
                    &.buttons{
                        display: none;
                    }
                }
                .secondary {
                    display: block;
                }
            }
        }
    }
}
