<ion-content class="routes-list has-header">

  <ion-list>
    <div class="detail-box" *ngFor="let item of items">
        <div class="image-container" (click)="showRoute(item.id)">
            <img [src]="item.getImageURL()" />
        </div>
        <div class="text-container">
          <p (click)="showRoute(item.id)">{{item.city}}, {{item.countryCode}}</p>
          <h2 (click)="showRoute(item.id)">{{item.title}}</h2>
          <div class="segmented-box dotted-border-top">
            <div class="segement dotted-border-right distance">
                <ion-label>{{ "t_distance" | translate }}</ion-label>
                <span>{{item.distance | distance: 'm'}}</span>
            </div>
            <div class="segement dotted-border-right grade">
                <ion-label [ngClass]="{'appear-disabled' : !item.grade}">{{ "r_level" | translate }}</ion-label>
                <span *ngIf="item.grade">{{item.grade}}</span>
                <span *ngIf="!item.grade">{{ "no_data" | translate }}</span>
            </div>
            <div class="segement buttons">
                <div class="button-container">
                    <button ion-button icon-only clear (click)="presentRouteInfoModal(item)">
                        <img class="primary round" src="./assets/icons/icon_route-info.svg"/>
                    </button>

                    <button ion-button icon-only clear *ngIf="!item.downloaded"  (click)="doDownload(item)">
                        <img class="primary round" src="./assets/icons/icon_route-download.svg"/>
                    </button>

                    <button ion-button icon-only clear *ngIf="!!item.downloaded" (click)="removeRoute(item)">
                        <img class="danger round" src="./assets/icons/icon_delete.svg"/>
                    </button>
                </div>

                <mcm-progress-bar *ngIf="item == activeDownload" [total]="totalDownload" [currentProgress]="doneDownload" ></mcm-progress-bar>
            </div>

          </div>
        </div>
      </div>
  </ion-list>
</ion-content>
