<mcm-header></mcm-header>

<ion-content class="has-header">
    <div class="message-wrap">
        <div *ngFor="let msg of msgList"
             class="message"
             [class.left]=" msg.userId === toUser.token "
             [class.right]=" msg.userId === user.token ">
            <!--TODO Remove user-image from data-->
            <!--<img class="user-img" [src]="msg.userAvatar" alt="" src="">-->
            <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>
            <div class="msg-detail">
                <div class="msg-content">
                    <p class="line-breaker ">{{msg.message}}</p>
                    <img *ngIf="msg.media" src="{{msg.media[0]}}">
                </div>
                <div class="msg-info">
                    <p>
                        <!--TODO Remove user from data-->
                        <!--{{msg.userName}}&nbsp;&nbsp;-->
                        <!-- TODO Time Format -->
                        &nbsp;{{msg.time | date:'medium' }}</p>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer no-border [style.height]="'55px'">
    <div class="input-wrap">
        <textarea
                autoresize
                id="textarea"
                #chat_input
                [placeholder]="'a_chat_type_message' | translate"
                [(ngModel)]="editorMsg"
                (keyup.enter)="sendMsg()"
                (focusin)="onFocus()">
        </textarea>
        <button ion-button class="image" (click)="getImage()">
            <img src="./assets/icons/image.svg"/>
        </button>
        <!--<button ion-button class="photo">-->
            <!--<img src="./assets/icons/photo.svg"/>-->
        <!--</button>-->
    </div>
    <button class="send" no-padding ion-button round item-right (click)="sendMsg()">
        <img src="./assets/icons/send.svg"/>
    </button>
</ion-footer>


