<mcm-header></mcm-header>

<ion-content class="has-header">
    <div class="message-wrap">
        <div *ngFor="let msg of msgList; let i = index"
             class="message"
             [class.left]=" msg.userId === toUser.token "
             [class.right]=" msg.userId === user.token ">
            <!--TODO Remove user-image from data-->
            <!--<img class="user-img" [src]="msg.userAvatar" alt="" src="">-->
            <ion-spinner name="dots" *ngIf="msg.status === 'pending' && !msg.isAudio"></ion-spinner>
            <!-- Text Message -->
            <div *ngIf="!msg.isAudio" class="msg-detail">
                <div class="msg-content">
                    <p class="line-breaker ">{{msg.message}}</p>
                    <img *ngIf="msg.media.length>0 && !isAudio(msg.media[0])" src="{{msg.media[0]}}">
                </div>
                <div class="msg-info">
                    <p>
                        <!--TODO Remove user from data-->
                        <!--{{msg.userName}}&nbsp;&nbsp;-->
                        <!-- TODO Time Format -->
                        &nbsp;{{msg.time | date:'medium' }}</p>
                </div>
            </div>
            <!-- Audio Message -->
            <div *ngIf="msg.media.length>0 && isAudio(msg.media[0])">
                <ion-list>
                    <ion-item class="audio-player">
                        <p>{{''}}</p>
                        <button ion-button clear item-end large *ngIf="audioIndex == null"
                                (click)="playAudio(msg.media[0], i)">
                            <ion-icon name="play"></ion-icon>
                        </button>
                        <button ion-button clear item-end large *ngIf="audioIndex == i" (click)="pauseAudio()">
                            <ion-icon name="square"></ion-icon>
                        </button>
                    </ion-item>
                </ion-list>
            </div>
        </div>

    </div>
</ion-content>
<ion-footer no-border [style.height]="'55px'">
    <div class="input-wrap">
        <!--wrap inside div check -->
        <textarea *ngIf="recordState == 1  && !resultPath && !showSpinner"
             autoresize
             id="textarea"
             #chat_input
             [placeholder]="'a_chat_type_message' | translate"
             [(ngModel)]="editorMsg"
             (keyup.enter)="sendMsg()"
             (focusin)="onFocus()">
        </textarea>

        <ion-spinner name="bubbles" *ngIf="showSpinner"></ion-spinner>

        <img class="msg-image" *ngIf="resultPath" src="{{resultPath}}">
        <button class="msg-close-button" ion-button icon-only round end *ngIf="resultPath" (click)="removeImage()">
            <ion-icon name="close"></ion-icon>
        </button>

        <button ion-button icon-only round start *ngIf="recordState == 3 && canPlayback" (click)="playAudio()">
            <ion-icon name="play"></ion-icon>
        </button>
        <button ion-button icon-only round start *ngIf="recordState == 3 && !canPlayback" (click)="pauseAudio()">
            <ion-icon name="pause"></ion-icon>
        </button>

        <button ion-button icon-only round end *ngIf="!resultPath" (click)="micButtonClick()">
            <ion-icon *ngIf="recordState == 1" name="mic"></ion-icon>
            <ion-icon *ngIf="recordState == 2" name="square"></ion-icon>
            <ion-icon *ngIf="recordState == 3" name="close"></ion-icon>
        </button>

        <button ion-button icon-only round end *ngIf="recordState == 1 && !resultPath" (click)="getImage()">
            <ion-icon name="image"></ion-icon>
        </button>

        <button ion-button icon-only round end *ngIf="recordState == 1 && !resultPath" (click)="openCamera()">
            <ion-icon name="camera"></ion-icon>
        </button>
    </div>
    <button class="send" no-padding ion-button round item-right (click)="sendMsg()">
        <img src="./assets/icons/send.svg"/>
    </button>
</ion-footer>


