<mcm-header></mcm-header>
<ion-content class="has-header pattern-bg">
  <div class="card first" *ngIf="route">
    <p>Location, Country</p>
    <h2>{{ route.Title }}</h2>
  </div>

  <div class="image-box">
    <ion-grid>
      <ion-row align-items-center>
          <ion-col col-4 class="button-container">
              <button ion-button icon-only clear>
                  <img class="primary round" *ngIf="route.downloaded == false" src="./assets/icons/icon_download-large.svg"/>
                  <img class="danger round" *ngIf="route.downloaded == true" src="./assets/icons/icon_delete-large.svg"/>
              </button>
          </ion-col>
        <ion-col>
          <img *ngIf="route.Thumb" src="route.Thumb" class="round bordered" />
          <img *ngIf="!route.Thumb" src="./assets/images/img_default_image.gif" class="round bordered" />
        </ion-col>
        <ion-col col-4 class="button-container">
            <button ion-button icon-only clear>
              <img class="primary round" *ngIf="route.downloaded == true" src="./assets/icons/icon_play-large.svg"/>
            </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="card text-center">
    <ion-grid no-padding>
          <ion-row align-items-center style="margin-bottom: 10px;">
            <ion-col>
                <ion-label>Klasse</ion-label>
                <!-- <ion-label>{{ "distance" | translate }}</ion-label> -->
                <span>15m</span>
            </ion-col>
            <ion-col></ion-col>
            <ion-col>
              <ion-label>Aufgaben</ion-label>
<!--                 <ion-label>{{ "tasks" | translate }}</ion-label> -->
                <span>3000</span>
            </ion-col>
          </ion-row>

          <ion-row align-items-center>
            <ion-col class="dotted-border-right">
                <ion-label>DISTANCE</ion-label>
                <!-- <ion-label>{{ "distance" | translate }}</ion-label> -->
                <span>155m</span>
            </ion-col>
            <ion-col>
                <ion-label>Länge</ion-label>
                <!-- <ion-label>{{ "distance" | translate }}</ion-label> -->
                <span>2.6km</span>
            </ion-col>
            <ion-col class="dotted-border-left">
                <ion-label>dauer</ion-label>
                <!-- <ion-label>{{ "distance" | translate }}</ion-label> -->
                <span>~ 2h 30min</span>
            </ion-col>
          </ion-row>
    </ion-grid>
  </div>

  <div class="card">
      <ion-label>Fortschritt</ion-label>
      <ion-grid no-padding>
          <ion-row>
            <ion-col col-auto><span>6 / 14</span></ion-col>
            <ion-col>
              <div class="progress-bar">
                <div class="progress" [ngStyle]="{'width': (100/14)*6+'%'}"></div>
              </div>
            </ion-col>
          </ion-row>
      </ion-grid>
  </div>

  <div class="card">
      <ion-label>Werkzeuge</ion-label>
      <p>Tape, Calculator, Folding Ruler, Level</p>

      <ion-label>Tags</ion-label>
      <p>Arc length, Arccos, Arch, Arcsin, Arctan, Area, Arithmetic,
          Cube, Cubic, Curve, Cyclic, Fun</p>
  </div>

</ion-content>
