<mcm-header transparent></mcm-header>
<ion-content>
    <div class="card title" *ngIf="route">
        <p>{{ route.city }}, {{ route.countryCode }}</p>
        <h1>{{ route.title }}</h1>
    </div>

    <div class="image-box" *ngIf="route" [ngClass]="route.getNarrativeName()">
        <ion-grid>
            <ion-row align-items-center>
                <ion-col col-4 class="button-container">
                    <button ion-button icon-only small round *ngIf="!route.downloaded" (click)="doDownload(route)">
                        <img src="./assets/icons/download.svg"/>
                    </button>
                    <button color="danger" ion-button icon-only small round *ngIf="route.downloaded" (click)="removeRoute(route)">
                        <img src="./assets/icons/delete.svg"/>
                    </button>
                </ion-col>
                <ion-col class="image-container" lazy-load-images>
                    <div class="cover">
                        <img class="thumb lazy" [attr.data-async-src]="route.getImageURL()" onerror="this.style.opacity='0'" />
                    </div>
                    <div class="indicator" *ngIf="route.isNarrativeEnabled()">
                        <h3 no-margin>{{'p_narrative_names_' + route.getNarrativeName() | translate}}</h3>
                        <img class="background" src="./assets/images/{{route.getNarrativeName()}}/indicator-label.svg" />
                    </div>
                </ion-col>

                <!--TODO Sharing coming soon near your area-->
                <ion-col col-4 class="button-container">
                    <!--<button ion-button icon-only small round [disabled]="!route.downloaded" (click)="showRoute(route)">-->
                        <!--<img src="./assets/icons/icon_play-large.svg"/>-->
                    <!--</button>-->
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div class="card text-center basic-info">
        <ion-grid no-padding>
            <ion-row align-items-center>
                <ion-col>
                    <div class="info-item">
                        <ion-label>{{ "a_t_grade" | translate }}</ion-label>
                        <span *ngIf="route">{{ route.grade }}</span>
                    </div>
                    <div class="info-item border">
                        <ion-label>{{ "a_t_distance" | translate }}</ion-label>
                        <span *ngIf="route"> {{route.getDistance() | distance: 'm'}} </span>
                    </div>
                </ion-col>

                <ion-col>
                    <div class="info-item">
                        <ion-label>{{ "p_r_duration" | translate }}</ion-label>
                        <span *ngIf="route">{{ route.duration }}</span>
                    </div>
                </ion-col>

                <ion-col>
                    <div class="info-item">
                        <ion-label>{{ "p_tb_tasks" | translate }}</ion-label>
                        <span>{{ totalTasks }}</span>
                    </div>
                    <div class="info-item border">
                        <ion-label>{{ "a_r_length" | translate }}</ion-label>
                        <span *ngIf="route">{{ route.length }}</span>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div class="card">
        <ion-label>{{'current_progress' | translate}}</ion-label>
        <mcm-progress-bar *ngIf="route && !route.completed" [route]="route" ></mcm-progress-bar>
        <div *ngIf="route?.completed">
            <div>{{route.completedDate}}</div>
            <div>{{route.scores[0].getTasksSolved().length}}</div>
            <div>{{route.scores[0].getTasksSolvedLow().length}}</div>
            <div>{{route.scores[0].getTasksFailed().length}}</div>
        </div>
    </div>

    <div class="card">
        <ion-label>{{ 'p_r_about' | translate }}</ion-label>
        <p *ngIf="route">{{ route.description }}</p>

        <ion-label>{{ 'a_action_settings' | translate }}</ion-label>
        <p *ngIf="route">
            <ion-row>{{ 'p_session_sorting_score' | translate }}: {{route.getSettingStringValue("gamification", translateService)}}</ion-row>
            <ion-row>{{ 't_samplesolution' | translate }}: {{route.getSettingStringValue("sampleSolution", translateService)}}</ion-row>
            <ion-row>{{ 'a_hints' | translate }}: {{route.getSettingStringValue("hints", translateService)}}</ion-row>
            <ion-row>{{ 'p_r_validation' | translate }}: {{route.getSettingStringValue("answerValidation", translateService)}}</ion-row>
            <ion-row *ngIf="route.isNarrativeEnabled()">{{ 'p_narrative' | translate }}: {{ 'p_narrative_names_' + route.getNarrativeName() | translate }}</ion-row>
            <ion-row *ngIf="!route.isNarrativeEnabled()">{{ 'p_narrative' | translate }}: {{ 'p_narrative_names_none' | translate }}</ion-row>
        </p>

        <div>
            <ion-label>{{ 'a_r_equip' | translate }}</ion-label>
            <p *ngIf="route">{{route.getAssistiveEquipment(translateService)}}</p>
        </div>

        <ion-label>{{ 'a_r_tags' | translate }}</ion-label>
        <p *ngIf="route">{{ route.tags }}</p>
    </div>

</ion-content>

<ion-footer>
    <button color="success" class="play" ion-button full block no-margin no-padding large
            *ngIf="route"
            [disabled]="!route.downloaded" (click)="showRoute(route)">
        <img content src="./assets/icons/play.svg"> {{ 'a_r_start' | translate }}
    </button>
</ion-footer>

