.platform-ios{
   page-task-detail{
      ion-content{
         background-position: 0 74px;
      }
   }
}
.platform-android, .md{
   page-task-detail{
      ion-content{
         background-position: 0 54px;
      }
   }
}


page-task-detail, page-task-group-detail {
   ion-content{
      background-size: 100% auto;
      background-repeat: no-repeat;
   }

   //  TOP (Header)

   $header-height: 66vh;
   $header-min-height: calc(100vw + #{$global-base-plus-padding});
   $content-edge: 44px;

   $space-push: 34px;

   .task{
      &-header {
         position: sticky;
         display: block;
         z-index: 0;
         width: 100%;
         top: 0;
         left: 0;
         height: $header-min-height;

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
         }

         &.gps{
            min-height: $header-height;
            #gpsTaskMap{
               position: fixed;
               @include size(100%, $header-height);
               ion-fab {
                  //@include transform(translateY(calc(-100% - #{$global-base-padding})));
                  position: absolute;
                  display: flex;
                  flex-direction: column;
                  flex-flow: column-reverse;
                  bottom: $global-large-padding;
                  right: $global-base-padding;
                  button {
                     &:not(:first-of-type){
                        margin-bottom: $global-small-padding;
                     }
                     padding-top: 5px;
                     span, span .icon{
                        color: #ffffff;
                        font-family: 'NunitoExtrabold', Arial, sans-serif;
                        line-height: 1;
                        font-size: 20px;
                     }
                  }
               }
               .leaflet-bottom.leaflet-right{
                  transform: rotate(270deg) translate(-50%, 100%);
                  top: 50%;
                  bottom: unset;
                  left: 0;
                  right: unset;
                  transform-origin: bottom left;
               }
            }
         }
      }

      //  BOTTOM (Content)

      &-content {
         position: relative;
         display: block;
         //background: linear-gradient(to bottom, rgba(229, 229, 229, 0) 50px, rgba(229, 229, 229, 1) 51px);
         @include ios-scroll-fix;
         margin-top: calc((#{$content-edge}) * -1);
         &:after{
            content: '';
            position: absolute;
            bottom: 0;
            z-index: -1;
            width: 100%;
            height: calc(100% - #{$content-edge});
            background: color($colors, light-grey-tint);
         }

         .vector-input-list {
            .item-block:first-child{
               border-top: none;
            }
            ion-label{
               text-transform: none;
            }
            .input-has-value .label {
               margin: 0;
            }
            &.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
               box-shadow: none;
               border-bottom-color: color($colors, light-grey);
            }
            //&.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus).is-focused,
            &.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus).is-focused .item-inner{
               border-bottom: 1px solid color($colors, primary);
               box-shadow: inset 0 -1px 0 0 color($colors, primary);
               ion-label {
                  color: color($colors, primary);
               }
            }
         }
         .blankContainer {
            padding-bottom: 5px;
            text-transform: none;
            &.disabled {
               .blankInput {
                  pointer-events: none;
                  color: color($colors, grey);
               }
            }
            .blankInput {
               &:focus {
                  border-bottom: 1px solid color($colors, primary);
               }
               user-select: text;
               text-align: center;
               min-width: 50px;
               display: inline-block;
               border-bottom: 1px solid color($colors, dark-grey);
               font-family: inherit;
               font-size: inherit;
               &.disabled {
                  pointer-events: none;
                  color: color($colors, grey);
               }
            }
         }
         &.subtask {
            background: linear-gradient(to bottom, rgba(220, 235, 240, 0) 50px, #DCEBF0 51px);
            .transition {
               background: linear-gradient(to top, #dcebf0 60%, rgba(255, 255, 255, 0) 96%);
            }
         }
         .multi-choice-label {
            line-height: 1;
         }
      }
   }



   .card {
      z-index: 2;
      &:first-of-type{
         margin-top: 0;
      }

      &.task {
         background-color: color($colors, primary);
         margin-top: 0;

         & > *{
            color: color($colors, light) !important;
         }
         .title {
            color: color($colors, light) !important;
            font-size: 16px;
            white-space: pre-line;
            margin-bottom: -2px;
         }

         &:has(+ .subtasks){
            z-index: 2;
         }

         & ~ .subtasks{
            z-index: 1;
            margin: -#{$space-push} $global-base-padding $global-base-padding;
            padding: $space-push $global-base-padding 4px;
            background-color: color($colors, primary-tint);
         }
      }

      .head {
         display: flex;
         align-items: center;
         margin-bottom: $global-base-padding*0.75;
         ion-label {
            margin: 0;
         }
         & > *:not(.tag){
            flex: 1;
         }
         .tag {
            flex: none;
            border-width: 0;
            border-radius: 50px;
            height: 34px;
            padding: 0 12px;
            background-color: color($colors, light-grey);
            &.score {
               border-style: solid;
               letter-spacing: 0;
               &:after{
                  //opacity: 0.22;
               }
            }
            &.arLink {
               flex: 1;
               margin-right: 10%;
               align-items: center;
               display: flex;
               justify-content: center;
               background: color($colors, success);
               color: color($colors, light);
            }
            &.secondary {
               border-width: 2px;
               border-style: dotted;
               line-height: 1.8;
            }
         }
      }

      &.answer {
         ion-label,
         ion-label.label-ios,
         ion-label.label-md {
            margin-bottom: 4px;
         }
      }

      &.answer {

         &:has(+ .support){
            z-index: 2;
         }

         & ~ .support{
            &:not(.subtask){
               z-index: 1;
               margin: -#{$space-push} $global-base-padding $global-base-padding;
               padding: $space-push $global-base-padding $global-base-padding;
               background-color: color($colors, primary-tint);
            }
         }

         .image-selection-container{
            .image{
               &-list{
                  display: grid;
                  grid-template-columns: 1fr 1fr;
                  grid-gap: 16px;
               }

               &-item{
                  position: relative;
                  display: inline-block;
                  box-sizing: border-box;
                  padding-top: 100%;
                  overflow: hidden;
                  border-radius: 20px;
                  box-shadow: inset 0 0 0 2px color($colors, light);
                  outline: 0 solid transparent;
                  transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 0.2s;

                  .image, &:after{
                     z-index: -1;
                     position: absolute;
                     top: 50%;
                     left: 50%;
                     transform: translate(-50%, -50%);
                     height: 100%;
                     width: 100%;
                     object-fit: cover;
                  }

                  &:after{
                     content: '';
                     z-index: -2;
                     background-color: color($colors, light-grey-tint);
                  }

                  button{
                     z-index: 2;
                     position: absolute;
                     bottom: 2px;
                     right: 2px;
                     width: 24px;
                     height: 24px;
                     margin: 0;
                     padding: 8px;
                     box-sizing: content-box;
                     box-shadow: none;
                     background: transparent;
                     .icon{
                        width: 75%;
                     }
                  }

                  &.active{
                     outline: 4px solid color($colors, primary);
                     transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 0.2s;
                  }
               }
            }
         }
      }

      &.support{
         display: flex;
         justify-content: space-between;
         align-items: center;
         .title{
            margin: 0;
            flex: 0 0 auto;
         }
         .container{
            &.buttons{
               flex: 1;
               display: flex;
               justify-content: flex-end;
               .start, .end{
                  button{
                     width: 34px;
                     height: 34px;
                     margin: 0 4px;
                     padding: 3px;
                     box-shadow: none;

                     &.hint{
                        &.used{
                           opacity: 0.33;
                        }
                     }
                  }
               }
               .end{
                  position: relative;
                  padding-left: $global-small-padding;
                  margin-left: $global-small-padding;
                  &:before {
                     content: '';
                     position: absolute;
                     top: 50%;
                     left: 0;
                     transform: translateY(-50%);
                     height: 66%;
                     border-right: 2px dotted #e5e5e5;
                  }
               }
            }
         }
      }

      &.subtasks {
         .head{
            margin-bottom: $global-base-plus-padding;
            .title{
               font-size: 16px;
            }
            button{
               flex: auto;
               flex-grow: 0;
               flex-shrink: 0;
            }
         }

         .accordion {
            margin-top: $global-base-padding;
            &:not(:last-of-type){
               border-bottom: 2px dotted color($colors, light-grey);
            }

            .accordion{
               &-head {
                  display: flex;
                  align-items: baseline;

                  .rating-container {
                     flex-grow: 1;
                     .rating {
                        margin: 5px 0px 0px 5px;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        @each $rating, $color in $ratings {
                           &.#{$rating} {
                              background-color: #{nth($color, 1)};
                           }
                        }
                     }
                  }

                  .title {
                     max-width: calc(90% - 15px);
                     overflow: hidden;
                     white-space: nowrap;
                     margin-bottom: $global-base-padding;
                  }

                  .accordion-arrow {
                     width: 15px;
                     transform: rotate(-90deg);
                     transition: all 0.22s ease-in-out;
                     margin-top: -7px;
                  }
               }

               &-content {
                  display: flex;
                  flex-wrap: wrap;
                  max-height: 0;
                  overflow: hidden;
                  transition: max-height 0.3s;
                  color: color($colors, grey);

                  .description {
                     flex-basis: 100%;
                     margin: 0;
                     &.compact {
                        width: 55%;
                     }
                  }
                  .subtask-inner-arrow {
                     width: 12px;
                     transform: rotate(-90deg);
                     align-self: flex-end;
                     margin-bottom: 6px;opacity: 0.66;
                  }
                  .answer-container {
                     flex-basis: 90%;
                     display: flex;
                     justify-content: space-between;
                     box-sizing: border-box;
                     margin: 0;
                     padding: 20px 20px 0 0;
                     white-space: normal;
                     overflow-wrap: break-word;
                     @media (max-width: 400px) {
                        font-size: 10px;
                     }
                     .answer {
                        @each $rating, $color in $ratings {
                           &.#{$rating} {
                              color: #{nth($color, 1)};
                           }
                        }
                     }
                  }
               }
            }


            &.open {
               transition: all linear 0.3s;
               .accordion-content {
                  max-height: 100%;
                  padding-bottom: $global-base-padding;
               }
               .accordion-arrow {
                  transform: unset;
               }
            }
         }
      }

      // INFO, FEEDBACK & SECONDARY

      &.secondary {
         background-color: transparent;
         border: 2px dotted;
         border-color: color($colors, grey);
         box-shadow: none;
         p, .label{
            color: color($colors, greygrey);
         }
         p {
            margin: 0;
            line-height: 1.33;
         }

         .feedback{
            &:not(:first-child){
               border-top: 2px dotted #a6a6a6;
               margin-top: 20px;
               padding-top: 20px;
            }
            .label{
               display: flex;
               justify-content: space-between;
               &:after {
                  content: url("../assets/icons/arrow-r.svg");
                  width: 16px;
                  height: auto;
               }
            }
         }
      }

      //  EVALUATION

      &.evaluation {
         color: #ffffff;
         z-index: 1;
         //margin: -34px $global-base-padding*1.3 $global-base-padding;
         //padding: $global-base-padding*1.5 $global-base-padding*0.7 $global-base-padding*0.7;
         //border-top-right-radius: 0px;
         //border-top-left-radius: 0px;
         .head {
            margin-bottom: 0;
            width: 100%;
         }
         ion-label {
            font-family: 'NunitoBold', Arial, sans-serif;
            text-transform: uppercase;
            color: #ffffff;
            letter-spacing: 1px;
            padding-right: 5px;
         }
         .score {
            font-family: 'NunitoExtrabold', Arial, sans-serif;
            background-color: #ffffff;
            box-shadow: 0 0 1px 1px #ffffff;
         }
         @each $rating, $color in $ratings {
            &.#{$rating} {
               background-color: #{nth($color, 1)};
               .score {
                  color: #{nth($color, 1)};
                  border-color: #{nth($color, 1)};
               }
            }
         }
      }
   }

   .fraction-input-container {
      input{
         text-align: center;
      }
      &.hide-number-input {
         transform: translateX(-70%);
         .number-input-container {
            opacity: 0;
         }
      }
      width: 60%;
      display: flex;
      margin-left: 50%;
      transform: translateX(-50%);
      .number-input-container {
         width: 80%;
         &.item-input-has-focus {
            .item-inner {
               border-bottom: 0;
               box-shadow: none;
               ion-input {
                  border-bottom: 1px solid color($colors, primary);
               }
            }
         }
         .item-inner {
            border-bottom: 0;
            box-shadow: none;
            ion-input {
               border-bottom: 1px solid color($colors, light-grey);
            }
         }
      }
      .first-row {
         border-bottom: 1px solid color($colors, dark);
      }
   }

   ion-footer{
      position: sticky;
      bottom: 0;
   }
}



page-task-group-detail {
   .task-content {
      .card {
         z-index: 2;

         &.task {
            p {
               margin-bottom: 4px;
            }
         }
      }

      .task-list{
         &-head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-inline: $global-base-padding;
            background-color: color($colors, light-grey-tint);
            .count{
               font-family: 'NunitoExtraBold', Arial, sans-serif;
               color: color($colors, dark);
               margin-right: 8px;
               font-size: 106%;
            }
         }
         .task-list-item{
            &.detail-box{
               padding: 0;
               &:not(:first-of-type){
                  padding-top: $global-base-padding;
                  border-top: 2px dotted color($colors, light-grey);
                  margin-top: $global-base-padding;
               }
               &:not(.solved){
                  .score{
                     opacity: 0.44;
                  }
               }
               @each $rating, $color in $ratings {
                  &.#{$rating} {
                     .image-container{
                        .cover{
                           &:after {
                              content: url("../assets/icons/solution/#{$rating}.svg");
                              background-color: #{nth($color, 1)};
                           }
                        }
                     }
                  }
               }
               &.#{nth(map-keys($ratings), 1)}{
                  .image-container {
                     .cover {
                        &:after {
                           padding-left: 25%;
                        }
                     }
                  }
               }

               .image-container{
                  $circle-size: 14vw;
                  width: $circle-size;
                  height: $circle-size;
                  .cover{
                     &:after {
                        position: absolute;
                        z-index: 2;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        padding: 35%;
                        box-sizing: border-box;
                     }
                  }
               }
               .text-container{
                  display: flex;
                  h2{
                     margin-top: 1%;
                     color: color($colors, dark);
                  }
               }
               .score{
                  flex: none;
                  border-width: 1px;
                  border-radius: 50px;
                  height: 30px;
                  padding: 0 12px;
                  color: color($colors, dark);
                  background-color: color($colors, light-grey);
                  margin: 2px 0 0 4px;
                  &:after{
                     transform: scale(0.8) translateY(5%);
                  }
               }
            }
         }
         &-evaluation{
            background-color: color($colors, primary);
            .score{
               height: 34px;
               padding: 10px 12px;
               border-radius: 50px;
               border-width: 1px;
               border-color: color($colors, primary);
               color: color($colors, primary);
               &:after{
                  filter: none;
               }
            }
         }
         &.skip{
            padding: $global-base-padding $global-base-padding 0;
         }
      }
   }
}








.mcm-keyboard-open{
   .scroll-content{
      margin-bottom: 244px!important;
      padding-bottom: 0 !important;
   }
}



@media screen and (min-width: 768px) and (orientation: portrait){
   page-task-detail{
      .task-header {
         max-height: 95vh;
         overflow: hidden;
      }
      .card{
         &.task{
            margin-top: -6%;
         }
      }
   }
}

@media screen and (min-width: 768px) and (orientation: landscape){
   page-task-detail{
      .content.padding.bottom .scroll-content{
         display: flex;
         padding-bottom: 0!important;
      }
      .task-header{
         flex: 55;
         max-height: unset;
         &.gps{
            #gpsTaskMap{
               position: relative;
               height: 100%;
               ion-fab{
                  bottom: $global-large-padding;
                  right: $global-base-padding!important;
                  left: unset;
               }
            }
         }
      }
      .task-content{
         flex: 45;
         height: 100%;
         margin-bottom: 0;
         padding-top: $global-medium-padding*2;
         overflow: scroll;
         .transition{
            //left: -30px;
            //height: 100%;
            //width: 35px;
            //z-index: 1000;
            //background: linear-gradient(to left, #e5e5e5 0%, rgba(255, 255, 255, 0) 100%);
            display: none;
         }
      }
      .card{
         &.task{
            margin-top: 0;
         }
      }
   }
}
