.platform-ios{
    page-task-detail{
        ion-content{
            background-position: 0 74px ;
        }
    }
}
.platform-android,
.md{
    page-task-detail{
        ion-content{
            background-position: 0 54px ;
        }
    }
}
page-task-detail {
    ion-content{
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
    .task-header {
        position: relative;
        display: block;
        z-index: 0;
        .image-container {
            max-height: 80vh;
            img {
                opacity: 0;
            }
        }
    }
    .transition {
        content: '';
        background: linear-gradient(to top, #e5e5e5 60%, rgba(255, 255, 255, 0) 96%);
        height: 100px;
        width: 100%;
        display: block;
        position: absolute;
        bottom: -50px;
    }
    .task-content {
        padding-bottom: 1px;
        display: block;
        position: relative;
        background: linear-gradient(to bottom, rgba(229, 229, 229, 0) 50px, rgba(229, 229, 229, 1) 51px);
        //        background-image: url(../assets/images/math_pattern.png);
        //        background-repeat: round round;
        //        background-size: 82px;
    }
    .card {
        z-index: 2;
        &.task {
            margin-top: -15%;
            padding-top: $global-large-padding*0.5;
            p {
                margin-bottom: $global-base-padding*1.5;
                font-size: 16px;
        		white-space: pre-line;
            }
        }
        .head {
            display: flex;
            align-items: center;
            margin-bottom: $global-base-padding*0.75;
            ion-label {
                margin: 0;
            }
            & > *:not(.tag){
                flex: 1;
            }
            .tag {
                font-family: 'NunitoBold', Arial, sans-serif;
                border-width: 1px;
                border-color: #B2B2B2;
                border-radius: 12px;
                height: 24px;
                font-size: 12px;
                padding: 0 12px;
                line-height: 2;
                color: #B2B2B2;
                &.score {
                    border-style: solid;
                }
                &.secondary {
                    border-width: 2px;
                    border-style: dotted;
                    line-height: 1.8;
                }
            }
        }
        .answer {
            ion-label,
            ion-label.label-ios,
            ion-label.label-md {
                margin-bottom: 4px;
            }
        }
        &.secondary {
            background-color: color($colors, light-grey);
            border: 2px dotted;
            border-color: color($colors, grey);
            box-shadow: none;
            p {
                color: color($colors, grey);
            }
        }
        //EVALUATION
        &.evaluation {
            color: #ffffff;
            z-index: 1;
            margin: -34px $global-base-padding*1.3 $global-base-padding;
            padding: $global-base-padding*1.5 $global-base-padding*0.7 $global-base-padding*0.7;
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
            .head {
                margin-bottom: 0;
            }
            ion-label {
                font-family: 'NunitoBold', Arial, sans-serif;
                text-transform: uppercase;
                color: #ffffff;
                letter-spacing: 1px;
                padding-right: 5px;
            }
            .score {
                font-family: 'NunitoExtrabold', Arial, sans-serif;
                background-color: #ffffff;
                box-shadow: 0 0 1px 1px #ffffff;
            }
            &.perfect {
                background-color: color($colors, success);
                .score {
                    color: color($colors, success);
                    border-color: color($colors, success);
                }
            }
            &.good {
                background-color: color($colors, secondary);
                .score {
                    color: color($colors, secondary);
                    border-color: color($colors, secondary);
                }
            }
            &.failed {
                background-color: color($colors, error);
                .score {
                    color: color($colors, error);
                    border-color: color($colors, error);
                }
            }
        }
    }
    .fab-container {
        @include transform(translateY(-100%));
        button {
            -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2);
            margin-bottom: $global-small-padding;
            padding-top:5px;
            span,
            span .icon{
                color: #ffffff;
                font-family: 'NunitoExtrabold', Arial, sans-serif;
                line-height: 1;
                font-size: 20px;
            }
        }
    }
}

.mcm-keyboard-open{
    .scroll-content{
        margin-bottom: 33vh;

        //transform: translateY(-33vh);
        //transition: margin 0.5s ease;
    }
}
