<ion-header transparent>
   <ion-toolbar>
      <ion-buttons left>
         <button ion-button icon-only (click)="goBack()">
            <img class="header-icon" src="assets/icons/back.svg"/>
         </button>
      </ion-buttons>
      <ion-buttons end>
         <button *ngIf="translationService.isEnabled && (!!translation || !translationFetched)" ion-button color="light" class="translation" (click)="toggleTranslation()">
            <img class="icon" src="assets/icons/translation-download.svg"/>
            <div *ngIf="!translatePage && !translationFetched">Translation</div>
            <div *ngIf="!translatePage && translationFetched">Translate</div>
            <div *ngIf="translatePage">Translated</div>
         </button>
      </ion-buttons>
   </ion-toolbar>
</ion-header>

<ion-content no-bounce class="has-header padding bottom">
    <div class="task-header">
        <img *ngIf="group && group.image" class="image" [src]="group.getImageURL()" (click)="openInPhotoviewer()"/>
    </div>
    <div class="task-content">
        <div class="transition"></div>

        <div class="card task">
            <div class="head">
                <ion-label>{{ "a_taskGroup_task_group" | translate }}</ion-label>
            </div>
            <p *ngIf="group && (!translatePage || !translation)">{{group.description}}</p>
            <p *ngIf="translation && translatePage" [ngClass]="{translated: translatePage}">{{translation.description}}</p>
        </div>

        <div class="card task-list-head">
            <ion-label>{{ "a_taskGroup_tasks" | translate }}</ion-label>
            <ion-label *ngIf="group" class="count text-right">{{getSolvedSubtaskCount()}} / {{group.getLegitSubtasks().length}}</ion-label>
        </div>
        <div class="card task-list">
            <div class="task-list-container">
                <div *ngFor="let subtask of subtasks" class="task-list-item detail-box" [ngClass]="getAdditionalSubtaskClasses(subtask)" (click)="openSubtask(subtask)">
                    <div tappable class="image-container">
                        <div class="cover">
                            <img alt="preview" class="thumb" [src]="subtask.getImageURL()" onerror="this.style.opacity='0'"/>
                        </div>
                    </div>
                    <div class="text-container">
                        <h2>{{subtask.title}}</h2>
                    </div>
                    <ion-label *ngIf="route && route.isAnswerFeedbackEnabled()" class="tag score">{{getScoreForTask(subtask)}}</ion-label>
                </div>
            </div>
        </div>
        <div *ngIf="route && route.isAnswerFeedbackEnabled()" class="card task-list-evaluation evaluation">
            <div class="head">
                <ion-label>{{ "a_taskGroup_score_total" | translate }}</ion-label>
                <ion-label class="tag score">{{getTotalScoreForGroup()}}</ion-label>
            </div>
        </div>

        <div *ngIf="!groupIsFinished" class="card transparent skip" >
            <button ion-button block default round color="danger" (click)="skipGroup()">{{'a_taskGroup_skip_button' | translate }}</button>
        </div>

        <div *ngIf="!groupIsFinished" class="card secondary">
            <ion-label>{{ "a_taskGroup_skip_info" | translate }}</ion-label>
            <p>
                {{ "a_taskGroup_skip_info_text" | translate }}
            </p>
        </div>
    </div>
</ion-content>
