<div class="modal card task-select has-button-on-the-edge">
    <h2 *ngIf="route">{{route.title}}</h2>
    <p *ngIf="route">{{ 'a_startAt' | translate}}</p>

    <div class="modal-content">
        <div class="dotted-border-bottom"  *ngFor="let item of tasks" (click) = "showRoute(route, item)">
            #{{item.position}} {{item.title}}
        </div>
    </div>

    <div class="on-the-edge-container">
        <button ion-button small round (click)="cancel()">{{ "a_alert_cancel" | translate }}</button>
    </div>
</div>