<div class="modal card task-select has-button-on-the-edge">

    <div class="modal-content">
        <h2 *ngIf="route">{{route.title}}</h2>
        <p *ngIf="route"><b>{{ 'a_startAt' | translate}}</b></p>
        <div tappable class="dotted-border-bottom" [class.disabled]="(item.inactive)"
             *ngFor="let item of tasks" (click) = "showRoute(route, item)">
            <!--#{{item.position}} {{item.title}}-->
            <!--&lt;!&ndash; green &ndash;&gt;<span *ngIf="score.getTasksSolved().indexOf(item.id) > -1" style="color: #4CAF50">#{{item.position}} {{item.title}}</span>-->
            <!--&lt;!&ndash; red &ndash;&gt;<span *ngIf="score.getTasksFailed().indexOf(item.id) > -1" style="color: #E62B25">#{{item.position}} {{item.title}}</span>-->
            <!--&lt;!&ndash; yellow &ndash;&gt;<span *ngIf="score.getTasksSolvedLow().indexOf(item.id) > -1" style="color: #F3B100">#{{item.position}} {{item.title}}</span>-->
            <!--&lt;!&ndash;alles andere&ndash;&gt;<span *ngIf="!(score.getTasksSolved().indexOf(item.id) > -1) && !(score.getTasksFailed().indexOf(item.id) > -1) && !(score.getTasksSolvedLow().indexOf(item.id) > -1)" style="color: black">#{{item.position}} {{item.title}}</span>-->
            <!-- grau für skipped fehlt noch -->
            <span
					[class.perfect]="(score.getTasksSolved().indexOf(item.id) > -1)"
					[class.failed]="(score.getTasksFailed().indexOf(item.id) > -1)"
					[class.good]="(score.getTasksSolvedLow().indexOf(item.id) > -1)">
                    <!--[class.tasksSkippedColor]="(state.skippedTaskIds.indexOf(item.id) > -1)"-->
                #{{item.position}} {{item.title}}
            </span>
        </div>
    </div>

    <div class="on-the-edge-container">
        <button ion-button small round (click)="cancel()">{{ "a_alert_cancel" | translate }}</button>
    </div>
</div>
