<div class="modal card has-button-on-the-edge" [ngClass]="{'hint': modalType == 1,'negative': modalType == 2, 'positive': modalType == 3}">
    <h2>{{title | translate}}</h2>
    <img *ngIf="modalType == 1" src="./assets/icons/icon_popup-hint.svg"/>
    <img *ngIf="modalType == 2" src="./assets/icons/icon_wrong-answer.svg"/>
    <img *ngIf="modalType == 3" src="./assets/icons/icon_popup-right-answer.svg"/>


    <p>{{message | translate: param}}</p>
    <div class="on-the-edge-container">
        <button ion-button small round (click)="dismiss()">{{ "alert_close" | translate }}</button>
    </div>
</div>