<div class="modal card has-button-on-the-edge" [ngClass]="{'hint': modalType == 1,'negative': modalType == 2, 'solved': modalType == 3, 'solved-low': modalType == 5}">
    <h2>{{title | translate}}</h2>

     <div class="modal-content" *ngIf="modalType != 4">
        <img *ngIf="modalType == 1 && type != 'image' " src="./assets/icons/icon_popup-hint.svg"/>
        <img *ngIf="modalType == 2" src="./assets/icons/icon_wrong-answer.svg"/>
        <img *ngIf="modalType == 3" src="./assets/icons/icon_popup-right-answer.svg"/>
        <img *ngIf="modalType == 5" src="./assets/icons/icon_popup-nearly-right-answer.svg"/>

        <!-- image hint -->
        <img class="full-width" *ngIf=" type == 'image' " [src]="'https://mathcitymap.eu/'+message"/>

        <!-- video hint -->
        <youtube-player *ngIf="modalType == 1 && videoId" [videoId]="videoId" [width]="videoWith" [height]="videoHeight"></youtube-player>

        <!-- text hint -->
        <p *ngIf="modalType == 1 && type == 'text' ||  modalType == 2 ||  modalType == 3 ||  modalType == 5" [innerHtml]=" message | translate: param | linky: linkyOptions "></p>

    </div>
    <div class="modal-content" *ngIf="modalType == 4">
        <img *ngIf="!imageUrl && modalType != 4" src="./assets/icons/icon_popup-right-answer.svg"/>

        <!-- image hint -->
        <img class="full-width" *ngIf="imageUrl" [src]="'https://mathcitymap.eu/'+imageUrl"/>

        <!-- text hint -->
        <p *ngFor="let message of messages" [innerHtml]=" message | translate: param | linky: linkyOptions "></p>

    </div>

    <div class="on-the-edge-container">
        <button *ngFor="let button of buttons" ion-button small round (click)="button.callback()">{{ button.title | translate }}</button>
    </div>
</div>