<div class="modal card icon has-button-on-the-edge" [ngClass]="{'no-icon': type != 'image', 'no-icon' : modalType == 4 || modalType == 8, 'hint': modalType == 1,'failed': modalType == 2, 'perfect': modalType == 3, 'good': modalType == 5}">

     <div class="modal-content" *ngIf="modalType != 4">
        <img class="head-icon" *ngIf="modalType == 1 && type != 'image' && type != 'video'" src="./assets/icons/{{iconPath}}modal-hint.svg"/>
        <img class="head-icon" *ngIf="modalType == 2" src="./assets/icons/{{iconPath}}modal-rating-failed.svg"/>
        <img class="head-icon" *ngIf="modalType == 3" src="./assets/icons/{{iconPath}}modal-rating-perfect.svg"/>
        <img class="head-icon" *ngIf="modalType == 5" src="./assets/icons/{{iconPath}}modal-rating-good.svg"/>
        <img class="head-icon" *ngIf="modalType == 6" src="./assets/icons/{{iconPath}}modal-rating-saved.svg"/>
        <img class="head-icon" *ngIf="modalType == 7" src="./assets/icons/{{iconPath}}modal-subtask-info.svg" />
        <h2>{{title | translate}}</h2>

        <!-- image hint -->
        <mcm-image *ngIf=" type == 'image' " [src]="message" [offline]="true" [fullWidth]="true" [photoViewer]="true"></mcm-image>

        <!-- video hint -->
        <youtube-player *ngIf="modalType == 1 && videoId" [videoId]="videoId" [width]="videoWith" [height]="videoHeight"></youtube-player>

         <h3 class="in-icon-modal score" *ngIf="gamificationEnabled && score && score != '0'" [linkedInnerHtml]=" score | translate: param | linky: linkyOptions "></h3>

        <!-- text hint -->
        <p text-center *ngIf="modalType == 1 && type == 'text' ||  modalType == 2 ||  modalType == 3 ||  modalType == 5 || modalType == 6 || modalType == 7" [linkedInnerHtml]=" message | translate: param | linky: linkyOptions "></p>

    </div>
    <div class="modal-content" *ngIf="modalType == 4">
        <img class="head-icon" *ngIf="!imageUrl && modalType != 4" src="./assets/icons/modal-rating-perfect.svg"/>
        <h2>{{title | translate}}</h2>

        <!-- image hint -->
        <mcm-image class="full-width" *ngIf="imageUrl" [src]="imageUrl" [offline]="true" [fullWidth]="true" [photoViewer]="true"></mcm-image>

        <!-- text hint --><p *ngFor="let message of messages" [linkedInnerHtml]=" message | translate: param | linky: linkyOptions"></p>

    </div>

    <div class="on-the-edge-container">
        <button *ngFor="let button of buttons" [ngClass]="{'col-33': buttons.length > 2}" ion-button small round (click)="button.callback()">{{ button.title | translate }}</button>
    </div>
</div>
