
<ion-header>
   <ion-toolbar>
      <ion-buttons left>
         <button ion-button icon-only (click)="goBack()">
            <img class="header-icon" src="assets/icons/back.svg"/>
         </button>
      </ion-buttons>
      <ion-title>{{ 'a_action_settings' | translate }}</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content class="has-header pattern-bg">

   <section class="padding center introduction">
      <ion-label class="title main">For your information</ion-label>
      <div class="card primary">
         <div class="container top">
            <ion-label>
               What is MCM?
               <p>What is MathCityMap about and how does it work exactly? Find out in this quick tutorial!</p>
            </ion-label>
            <img class="icon" src="../../assets/icons/logo-mathcitymap-symbol.svg"/>
         </div>
         <button ion-button block round color="light" (click)="openOnboarding()">{{'a_settings_onboarding' | translate }}</button>
      </div>
   </section>

   <div class="card transparent">
   </div>

   <section class="padding center">
      <ion-label class="title main">{{'a_settings_language' | translate}}</ion-label>
      <div class="card select">
         <ion-label>
            App Language
   <!--         {{'a_settings_language' | translate}}{{language != 'en' ? ' / LANGUAGE' : ''}}-->
         </ion-label>
         <ion-select [(ngModel)]="language" (ngModelChange)="onChangeLanguage($event)">
            <ion-option *ngFor="let lang of translatedLangs" [value]="lang.id">{{lang.value}}</ion-option>
         </ion-select>
      </div>
   </section>

   <section class="padding center">
      <div class="card">
         <ion-item no-lines no-padding>
            <ion-label item-content>
               Translations
               <p>Enables the download of automated translations for a specific route</p>
            </ion-label>
            <ion-toggle class="devModeToggle" mode="ios" [(ngModel)]="translationService.isEnabled"></ion-toggle>
         </ion-item>

         <div class="item">
            <ion-label>{{'WIP_translate_language' | translate}}</ion-label>
            <ion-select [(ngModel)]="translationService.translateLanguage">
               <ion-option *ngFor="let lang of translatedLangs" [value]="lang.id">{{lang.value}}</ion-option>
            </ion-select>
         </div>

         <div class="info">
            <p>Download the according translation package in the route info page</p>
         </div>
      </div>
   </section>

   <section class="padding center">
      <ion-label class="title main">WIP: Accessibility</ion-label>
      <div class="card">
         <ion-item no-lines no-padding>
            <ion-label item-content>
               WIP: Text to Speech
               <p>Enables the option to select text and let it read aloud</p>
            </ion-label>
            <ion-toggle class="devModeToggle" [(ngModel)]="readAloudService.isEnabled" mode="ios"></ion-toggle>
         </ion-item>
         <ion-item no-lines no-padding>
            <ion-label item-content>
               WIP: configure
               <p>Enables the option to select text and let it read aloud</p>
            </ion-label>
            <ion-toggle class="devModeToggle" mode="ios"></ion-toggle>
         </ion-item>

         <div class="item">
            <ion-label item-content>Lang</ion-label>
            <ion-select [(ngModel)]="readAloudLanguage">
               <ion-option *ngFor="let lang of translatedLangs" [value]="lang.id">{{ lang.value }}</ion-option>
            </ion-select>
         </div>

         <div class="item">
            <ion-label item-content>Voice</ion-label>
            <ion-select [(ngModel)]="readAloudVoice">
               <ion-option *ngFor="let voice of readAloudVoices" [value]="voice.identifier">{{ voice.name }}</ion-option>
            </ion-select>
         </div>

         <div class="info">
            <p readable [language]="readAloudLanguage">{{readAloudService.getDemoText(readAloudLanguage)}}</p>
         </div>
      </div>
   </section>

   <section class="padding center">
      <ion-label class="title main">{{'a_settings_expert' | translate }}</ion-label>
      <div class="card">
         <ion-item no-lines no-padding>
            <ion-label item-content>
               {{'a_settings_editing' | translate }}
               <p>{{'a_settings_editing_text' | translate }}</p>
            </ion-label>
            <ion-toggle class="devModeToggle" mode="ios" [(ngModel)]="developerMode" (ionChange)="switchDevMode()"></ion-toggle>
         </ion-item>
      </div>
   </section>

   <!--    <div class="card has-button-on-the-edge">
           <ion-label>{{'a_settings_console' | translate }}</ion-label>
           <p item-content>{{'a_settings_console_text' | translate }}</p>
           <ion-item>
               <ion-input type="text" placeholder="######"></ion-input>
           </ion-item>
           <button class="on-the-edge" ion-button small round>{{'a_settings_console_button' | translate }}</button>
       </div>-->

   <section class="padding center">
      <ion-label class="title main">{{'a_settings_data' | translate }}</ion-label>
   </section>
   <div class="card transparent">
      <button ion-button block default round color="danger" (click)="deleteAppData()">{{'a_main_settings_delCache' | translate }}</button>
   </div>

</ion-content>
