export const SERVER_REQUEST_PASS = ""
export const MAPBOX_ACCESS_TOKEN = ""
export const API_REQUEST_USER = ""
export const API_REQUEST_PASS = ""

export const API_URL: string = "https://api.mathcitymap.eu/public/index.php";
// export const API_URL: string = "https://api-dev.mathcitymap.eu/public/index.php";
// export const API_URL = "http://192.168.178.28/mcmapi"; // http://localhost/;

export const WEBSERVER_URL: string = "https://mathcitymap.eu/"
// export const WEBSERVER_URL: string = "https://dev.mathcitymap.eu/"

export const MEDIASERVER_BASE_URL: string = "https://matismedia.eu"
// export const MEDIASERVER_BASE_URL: string = "https://sb-medienserver.matismedia.eu"

export const DB_QUERY_URL: string = "https://mathcitymap.eu/db_query_post.php"
// export const DB_QUERY_URL: string = "https://dev.mathcitymap.eu/db_query_post.php"
// export const DB_QUERY_URL: string = "/mcm-api/db_query_post.php"
// export const DB_QUERY_URL: string = "http://192.168.178.28/mcmmock/db_query_post.php"
