// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:        #036d99,
  primary-darker: #035f87,
  secondary:      #f3b100,
  secondary-dark: #D9A000,
  danger:         #f25801,
  error:          #E62B25,
  success:        #4CAF50,
  light:          #ffffff,
  dark:           #222222,
  dark-grey:      #444444,
  grey:           #a5a0a3,
  mid-grey:       #b2b2b2,
  light-grey:     #e5e5e5,

  fab-color-1:    #29B0E5,
  fab-color-2:    #1595C1,
  fab-color-3:    #036D99,
  fab-color-4:    #034562,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Own Fonts        (ง •̀_•́)ง
//
// --------------------------------------------------


@import "roboto";
//@import "noto-sans";


// Own Variables    (づ￣ ³￣)づ
//
// --------------------------------------------------


$global-small-padding:  10px;
$global-base-padding:   20px;
$global-large-padding:  40px;

$fab-size: 40px;
$fab-list-button-background-color: color($colors, primary-darker);

$toolbar-background: color($colors, light-grey);
$toolbar-ios-background: color($colors, light-grey);
$searchbar-ios-toolbar-input-background: white;
$searchbar-md-input-box-shadow: none;





// Own Mixins       (∩｀-´)⊃━☆ﾟ.*･｡ﾟ
//
// --------------------------------------------------


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($opacity) {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,$opacity);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,$opacity);
  -ms-box-shadow: 0px 0px 6px 0px rgba(0,0,0,$opacity);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,$opacity);
}

@mixin border($width, $style, $color) {
    -webkit-border: $width $style $color;
    -moz-border: $width $style $color;
    -ms-border: $width $style $color;
    border: $width $style $color;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  transform: $property;
}



// Pirate Theming       L( Ø -´)⊃━|-----
// --------------------------------------------------

    $c-primary:        #AA2000;
    $c-secondary:      #B7702E;
    $c-secondary-light:      #E2AC64;
    $c-yellow:         #FFC033;
    $c-success:        #33CC00;
    $c-danger:         #333333;
    $c-light:          #ffffff;

    $c-text:          $c-danger;

    $image-path: "../assets/images/";

.pirates {

    // Main UI (Navigation, Form)

    ion-header{
        background: $c-secondary;
        background-image: url("#{$image-path}pirates/texture-wood-dark.svg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
    }
    ion-toolbar {
        .toolbar-background {
            background: $c-secondary;
            background-image: url("#{$image-path}pirates/texture-wood-dark.svg");
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;
        }
    }

    button{
        &.button{
            &:not(.button-clear){
                background-color: $c-primary;
            }
        }
        &[color="primary"]{
            background-color: $c-primary;
        }
        &[color="danger"]{
            background-color: $c-danger;
        }

    }

    // Map

    .map{
        .detail-box{
            padding-bottom: 16px;
            padding-top: 20px;
            box-shadow: unset;
            filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
            background-color: unset;
            background-image: url("#{$image-path}pirates/texture-paper-s.svg");
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
            .image-container{
                border: none;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
            }
            .title{
                & > span{
                    color: $c-text;
                }
            }
        }
    }
}
