// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:        #036d99,
  primary-darker: #035f87,
  secondary:      #f3b100,
  secondary-dark: #D9A000,
  danger:         #f25801,
  light:          #ffffff,
  dark:           #222222,
  dark-grey:      #444444,
  grey:           #b2b2b2,
  light-grey:     #e5e5e5,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Own Fonts        (ง •̀_•́)ง
//
// --------------------------------------------------


@import "roboto";
@import "noto-sans";


// Own Variables    (づ￣ ³￣)づ
//
// --------------------------------------------------


$global-small-padding:  10px;
$global-base-padding:   20px;
$global-large-padding:  40px;


// Own Mixins       (∩｀-´)⊃━☆ﾟ.*･｡ﾟ
//
// --------------------------------------------------


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($opacity) {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,$opacity);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,$opacity);
  -ms-box-shadow: 0px 0px 6px 0px rgba(0,0,0,$opacity);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,$opacity);
}

@mixin border($width, $style, $color) {
    -webkit-border: $width $style $color;
    -moz-border: $width $style $color;
    -ms-border: $width $style $color;
    border: $width $style $color;
}
