// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:        #036d99,
  primary-darker: #035f87,
  secondary:      #f3b100,
  secondary-dark: #D9A000,
  danger:         #f25801,
  error:          #E62B25,
  success:        #4CAF50,
  light:          #ffffff,
  dark:           #222222,
  dark-grey:      #444444,
  grey:           #a5a0a3,
  mid-grey:       #b2b2b2,
  light-grey:     #e5e5e5,

  fab-color-1:    #29B0E5,
  fab-color-2:    #1595C1,
  fab-color-3:    #036D99,
  fab-color-4:    #034562,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Own Fonts        (ง •̀_•́)ง
//
// --------------------------------------------------


@import "roboto";
//@import "noto-sans";


// Own Variables    (づ￣ ³￣)づ
//
// --------------------------------------------------


$global-small-padding:  10px;
$global-base-padding:   20px;
$global-large-padding:  40px;

$fab-size: 40px;
$fab-list-button-background-color: color($colors, primary-darker);

$toolbar-background: color($colors, light-grey);
$toolbar-ios-background: color($colors, light-grey);
$searchbar-ios-toolbar-input-background: white;
$searchbar-md-input-box-shadow: none;





// Own Mixins       (∩｀-´)⊃━☆ﾟ.*･｡ﾟ
//
// --------------------------------------------------


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($opacity) {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,$opacity);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,$opacity);
  -ms-box-shadow: 0px 0px 6px 0px rgba(0,0,0,$opacity);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,$opacity);
}

@mixin border($width, $style, $color) {
    -webkit-border: $width $style $color;
    -moz-border: $width $style $color;
    -ms-border: $width $style $color;
    border: $width $style $color;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  transform: $property;
}



// Pirate Theming       L( Ø -´)⊃━|-----
// --------------------------------------------------

$c-primary:        #AA2000;
$c-secondary:      #B7702E;
$c-secondary-light:      #E2AC64;
$c-yellow:         #FFC033;
$c-success:        #33CC00;
$c-blue:           #32A4DC;
$c-danger:         #333333;
$c-light:          #ffffff;

$c-text:          $c-danger;

$image-path: "../assets/images/";

@mixin shadow-medium() {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
@mixin shadow-filter-medium() {
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
}
@mixin shadow-filter-hard() {
    filter: drop-shadow(0 2px 0px rgba(0, 0, 0, 0.5));
}

@mixin texture-wood-light($rotate: false) {
    background: url("#{$image-path}pirates/texture-wood-light.svg") $c-secondary-light;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @if $rotate{
        background-image: url("#{$image-path}pirates/texture-wood-light-v.svg");
    }
}





.pirates {

    .label{
        color: $c-text;
        font-family: 'CaveatBrush', Arail, sans-serif;
        text-transform: capitalize;
        letter-spacing: 0;
        font-size: 130%;
    }

    h3, h4, h5, h6, p, span, body, ion-app.ios, ion-app.md{
        font-family: 'Pangolin', Arial, sans-serif;
    }

    h1{
        font-family: 'CaveatBrush', Arail, sans-serif!important;
        letter-spacing: 0;
        text-transform: none;
        font-size: 150%;
    }
    h2{
        font-family: 'CaveatBrush', Arail, sans-serif!important;
        letter-spacing: 0;
        text-transform: none;
        font-size: 150%;
    }

    .button{
        &.button-round-ios.button-small-ios,
        &.button-round-md.button-small-md{
            font-family: 'CaveatBrush', Arial, sans-serif;
            span{
                font-family: 'CaveatBrush', Arial, sans-serif;
                font-size: 130%;
            }
        }
    }


    // Main UI (Navigation, Form)

    ion-header{
        background: $c-secondary;
        background-image: url("#{$image-path}pirates/texture-wood-dark.svg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
    }
    ion-toolbar {
        .toolbar-background {
            background: $c-secondary;
            background-image: url("#{$image-path}pirates/texture-wood-dark.svg");
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;
        }
        .toolbar-title{
            font-family: 'CaveatBrush', Arail, sans-serif;
            font-size: 200%;
        }
    }

    .item-input{
        .item-inner{
            border-bottom: none!important;
            box-shadow: none;
        }
    }
    .input-wrapper{
        &:after {
            pointer-events: none;
            content: url(../assets/images/pirates/border-input.svg);
            position: absolute;
            bottom: -7px;
            left: 0;
            right: 0;
            display: block;
            width: 100%;
        }
    }

    button{
        &.button, &.fab{
            &:not(.button-clear){
                background-color: $c-primary;
            }
            &[color="primary"]{
                background-color: $c-primary;
                &[disabled]{
                    background-color: inherit;
                }
            }
            &[color="danger"]{
                background-color: $c-danger;
            }
        }
    }

    // Map

    page-tasks-map{
        .detail-box{
            &#details{
                padding-bottom: 16px;
                padding-top: 20px;
                box-shadow: unset;
                filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
                background-color: unset;
                background-image: url("#{$image-path}pirates/texture-paper-s.svg");
                background-repeat: no-repeat;
                background-position: top;
                background-size: cover;
                .image-container{
                    border: none;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
                    //filter: grayscale(0.5) sepia(0.5);
                }
                .title{
                    & > span{
                        color: $c-text;
                    }
                }
            }
            &#ranking {
                @include shadow-medium;
                background-color: $c-secondary-light;
                background-image: url("#{$image-path}pirates/texture-wood-light.svg");
                background-repeat: no-repeat;
                background-position: bottom;
                background-size: cover;
                .row{
                    @include shadow-filter-hard();
                    border: none;
                }
                .col {
                    ion-label{
                        color: $c-light;
                    }
                }
            }
        }

        .marker-cluster-small{
            border-color: $c-primary;
            div{
                border-color: $c-primary;
                background-color: $c-primary;
                span{
                    font-family: 'CaveatBrush', Arail, sans-serif;
                    font-size: 200%;
                    line-height: 24px;
                }
            }
        }
        .marker-cluster-medium, .marker-cluster-large{
            border-color: $c-primary;
            div{
                border-color: $c-primary;
                background-color: $c-primary;
                span{
                    font-family: 'CaveatBrush', Arail, sans-serif;
                    font-size: 200%;
                    line-height: 24px;
                }
            }
        }
    }

    .score{
        padding: 0;
        &:after{
            content: url("#{$image-path}pirates/unit-score.svg");
            margin-left: 6px;
            margin-top: 2px;
            @include shadow-filter-hard();
        }
    }

    // Task

    page-task-detail{
        .transition {
            background: linear-gradient(to top, $c-blue 60%, rgba(255, 255, 255, 0) 96%);
        }
        .task-content{
            background: url("#{$image-path}pirates/texture-water.svg"), linear-gradient(to bottom, rgba(50, 164, 220, 0) 50px, rgba(50, 164, 220, 1) 51px);
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;
            .card{
                .head{
                    .score{
                        height: unset;
                        background-color: unset;
                        border: none;
                        box-shadow: none;
                        padding: 0;
                        color: $c-text;
                        &:after {
                            content: url("#{$image-path}pirates/unit-score-l.svg");
                        }
                    }
                }
                &.task{
                    &:before{
                        content: url("#{$image-path}pirates/texture-paper-l-start.svg");
                        position: absolute;
                        left: 0;
                        top: -30px;
                        display: block;
                        width: 100%;
                    }
                    @include shadow-filter-medium;
                    box-shadow: unset;
                    background-image: url("#{$image-path}pirates/texture-paper-l.svg");
                    background-repeat: no-repeat;
                    background-position: bottom;
                    background-size: 100% 100%;
                    background-color: unset;
                    padding: 30px 30px 40px;
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-top: -1px;
                    .answer{
                        .item{
                            background-color: unset;
                        }
                    }
                }
                .on-the-edge-container{
                    bottom: -10px;
                }


                &.evaluation{
                    .head{
                        .label, .score{
                            font-family: 'CaveatBrush', Arail, sans-serif;
                            text-transform: none;
                            letter-spacing: 0;
                            font-size: 150%;
                            @include shadow-filter-hard;
                        }
                        .score{
                            color: $c-light;
                            &:after {
                                filter: none;
                            }
                        }
                    }
                    padding: 35px $global-large-padding*0.6 $global-large-padding*0.6;
                    border-radius: 0;
                    $rating: perfect good failed;

                    @each $item in $rating {
                        &[class*="#{$item}"] {
                            background: url("#{$image-path}pirates/texture-evaluation-#{$item}.svg");
                            background-repeat: no-repeat;
                            background-position: bottom;
                            background-size: 100%;
                            box-shadow: none;
                            margin-top: -45px;
                        }
                    }
                }


                &.secondary {
                    background-color: unset;
                    border: 2px dashed $c-light;
                    p, .label {
                        color: $c-light;
                    }
                }
            }
        }
    }

    .modal.card, .alert-md .alert-wrapper, .alert-ios .alert-wrapper{
        @include texture-wood-light($rotate: true);
        .modal-content{
            .dotted-border-bottom{
                border-bottom: none!important;
                position: relative;
                &:not(:last-of-type):after{
                    content: url(../assets/images/pirates/border-list.svg);
                    pointer-events: none;
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    right: 0;
                    display: block;
                    width: 100%;
                }
            }
            & > h2{
                @include shadow-filter-hard;
                letter-spacing: 0;
                text-transform: none;
                font-size: 180%;
                line-height: 1.5;
                .score{
                    &:after{
                        content: url("#{$image-path}pirates/unit-score-l.svg");
                        filter: none;
                    }
                }
            }
            span, p, h2{
                 color: $c-light;
            }
        }
        .alert-title {
            color: $c-light;
            @include shadow-filter-hard;
        }
        .alert-message{
            color: $c-light;
        }
        .alert-button{
            color: $c-primary;
        }

        &.icon{
            padding-top: $global-large-padding!important;
            margin-top: calc(14vw + 20px);
            .modal-content{
                display: flex;
                flex-direction: column;
                text-align: center;
            }
            img.head-icon{
                position: relative;
                top: 0;
                right: unset;
                transform: none;
                margin: 0 auto;
                border: none;
                border-radius: 50%;
                background-color: transparent;
                margin-bottom: $global-small-padding;
            }
            h2, p{
                color: $c-light!important;
                margin-bottom: 10px;
            }
            h2{
                order: -1;
                font-size: 250%;
            }
        }

        &.intro{
            img.head-icon{
                border-radius: 0;
                width: 45vw;
            }
        }


        &.hint{
            .highlight{
                color: $c-primary;
            }
        }
        &.perfect{
            .highlight{
                color: $c-success;
            }
            button{
                background-color: $c-success;
            }
        }
        &.good{
            .highlight{
                color: $c-yellow;
            }
            button{
                background-color:$c-yellow;
            }
        }
        &.failed{
            .highlight{
                color: $c-danger;
            }
            button{
                background-color: $c-danger;
            }
        }
        &.task-select{
            h2{
                margin: 0 0 8px;
            }
            p{
                margin-bottom: 15px;
            }
            .dotted-border-bottom{
                padding-bottom: 10px;
                margin-bottom: 10px;
                span{
                    &.perfect, &.good, &.failed, &.skipped{
                        &:before{
                            top: 40%;
                            transform: translateY(-50%);
                            @include shadow-filter-hard;
                        }
                    }
                    &.perfect {
                        &:before {
                            background-color: $c-success;
                        }
                    }
                    &.good {
                        &:before {
                            background-color: $c-yellow;
                        }
                    }
                    &.failed {
                        &:before {
                            background-color: $c-danger;
                        }
                    }
                    &.skipped{
                        background-color: #B2B2B2;
                    }
                }
            }
        }
    }
}
