<div class="modal icon card has-button-on-the-edge">
    <div class="modal-content">
        <img class="head-icon" src="./assets/icons/icon_popup-session-join.svg"/>
        <h2>"Session Name"</h2>
        <p class="main-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

            <ion-label>{{ "a_team_name" | translate }}</ion-label>
            <ion-item>
                <ion-input #input type="text" [(ngModel)]="teamName"></ion-input>
            </ion-item>

            <div class="input-container">
                <ion-label>{{ "a_team_members" | translate }}</ion-label>
                <div class="input-secondary" *ngFor="let teamMember of teamMemberArray; let i = index;">
                    <ion-item>
                        <ion-input value="{{ teamMember }}"></ion-input>
                    </ion-item>
                    <img class="" src="./assets/icons/remove.svg" (click)="removeTeamMemberName(i)"/>
                </div>
                <div class="input-main">
                    <ion-item>
                        <ion-input #input type="text" [(ngModel)]="teamMemberNames"></ion-input>
                    </ion-item>
                    <img class="" src="./assets/icons/add.svg" (click)="addTeamMemberName(teamMemberNames)" />
                </div>
            </div>

        <span *ngIf="showError">
            {{ 'a_private_route_failed' | translate }}
        </span>
    </div>

    <div class="on-the-edge-container">
        <button ion-button small round color="danger" (click)="cancel()">{{ "a_alert_cancel" | translate }}</button>
        <button ion-button small round (click)="start()">{{ "a_private_trail_or_session_enter" | translate }}</button>
    </div>
</div>