// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.




//============== Global Layout Structure ==============

*{
    box-sizing: border-box;
}





//TAB-BAR

.tabs{
    .tabbar{
        border-top: 0.55px solid color($colors, primary);
        box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.2);
        background: color($colors, primary);
        .tab-button, .tab-button-icon{
            color: color($colors, light);
            &[aria-selected="false"]{
                color:rgba(color($colors, light), .4);
            }
        }
        .tab-button{
            padding: 5px 5px 6px;
            min-height: 50px;
        }
        .has-icon .tab-button-icon,
        .has-title .tab-button-text{
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
        }
        .tab-button-icon{
            margin: 0;
        }
        //    selected state
        .tab-button[aria-selected=true], .tab-button[aria-selected=true] .tab-button-icon{
            background: color($colors, primary-darker);
            transition: all, .3s;
        }
    }
}



//CONTENT

.has-header{
    .scroll-content, ion-refresher {
        margin-top: calc(54px);
    }
    &.content-ios{
        .scroll-content, ion-refresher {
            margin-top: calc(54px + 20px);
        }
    }
}
.content-md, .content-ios{
    background-color: color($colors, light-grey);
}

//.pattern-bg{
//    .scroll-content{
//        background-image: url('../assets/images/foil.png');
//        background-repeat: round round;
//        background-size: 7px;
//    }
//}





//ROUTES LIST


.routes-list, .map-view{
    .list-ios,
    .list-md{
        margin: 0;
        padding: 0px;
        padding-bottom: 50px;
        background-color: #ffffff;
    }
    .item{
        height: 124px;
        padding: 0px 10px 10px 0px;
        box-sizing: border-box;
        background: transparent;
        border: none!important;
        .item-inner{
            margin: 0;padding: 0;
            border: none;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            .input-wrapper{
                background-color: #ffffff;
            }
        }
    }
    .text-container{
        span{
            display: inline-block;
        }
    }
}


// =============================================
// ------------------ INPUTS -------------------
.item-ios.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    box-shadow: none;
    border-bottom-color: color($colors, light-grey);
}
ion-item{
    &.item-input{
        min-height: 0;
    }
    &.item-ios,
    &.item-md{
        .item-inner{
            padding: 0;
        }
    }
}

//CHECKBOXES
ion-list{
    & > *{
        border: none!important;
    }
    &.list-ios, &.list-md{
        .item-ios.item-block.item-checkbox, .item-md.item-block.item-checkbox{
        min-height: 34px;
            &:last-of-type{
                margin-bottom: $global-small-padding;
            }
            ion-checkbox{
                margin: 0 16px 0 0;
            }
            .item-inner{
                padding: 0;
                padding-right: 0px;
                border-bottom: 0px solid #dedede;
                ion-label{
                    margin: 0;
                    color: initial;
                    text-transform: none;
                    font-size: 12px;
                }
            }
        }
    }
}

input{
    &.text-input-ios,
    &.text-input-md{
        width: 100%;
        margin: 5px 0 5px 0px;
    }
}


// =============================================
// ----------- INFO CARDS LIST & MAP -----------

.detail-box{
    position: relative;
    background-color: #ffffff;
    height: auto;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .image-container {
        background-color: #b2b2b2;

        width: 20vw;
        height: 20vw;

        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid color($colors, light-grey);;

        background-size: cover;
        display: inline-block;

        overflow: hidden;

        &.downloaded{
            border: 2px solid #ffffff;
            box-shadow: 0px 0px 0px 2px #a6a6a6;
        }
    }


    .text-container{
        flex: 5;
        max-width: calc(80vw - 20px);
        padding-left: 16px;

        p{
            margin: 0;
            display: inline-block;
            line-height: 1.4;
            span{
                display: inline-block;
            }
        }
        span{
            color: color($colors, dark-grey);
        }
        h2{
            margin-top: 2px;
            margin-bottom: -4px;
            width: 100%;

            white-space: nowrap;
            display            : inline-block;
            -webkit-box-orient : vertical;
            position           : relative;
            overflow           : hidden;
            text-overflow      : ellipsis;
            -webkit-line-clamp : 2;
            /* lineheight * line-clamp */
            max-height             : calc(22px * 2);
        }
        .segmented-box{
            display: flex;
            align-items: stretch;
            &.bottom{
                align-items: center;
            }
            &:not(:first-child){
                margin-top: 2px;
            }
            .segement{
                flex: 1;
                &.title{
                    overflow: hidden;
                    padding-right: 10px;
                }
                ion-label, ion-label.label-ios, ion-label.label-md{
                    margin-bottom: 0px;
                    span{
                        display: inline-block;
                    }
                }
                &.buttons{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    &.info{
                        flex: none;
                        justify-content: space-between;
                    }
                    &.skip{
                        flex: none;
                        justify-content: flex-end;
                    }
                    >.button-container,
                    >span{
                        min-width: 100%
                    }
//                    >.button-container{
                        white-space: nowrap;
                        button.dot{
                            min-width: unset;
                            width: 24px;
                            height: 24px;
//                            padding: 4px;
                            margin: 0px;
                            overflow: visible;
                            &:last-of-type{
//                                margin-right: -4px;
//                                margin-bottom: 0;
                            }
                            img{
                                object-fit: contain;
                            }
                        }
                        button.button-round-ios.button-small-ios, button.button-round-md.button-small-md{
                            max-height: 24px;
                            padding: 0 15px;
                            margin: 0;
                            box-shadow: none;
                        }
//                    }

                }
                span.downloading{
                    width: 100%;
                    display: block;
                    text-align: center;
                }
            }
        }
    }

    mcm-progress-bar{
        padding: $global-base-padding 0 0 0;
        min-width: calc(100% - 150px);
    }
}

//MAP
.map{
    .map-view{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
    }
    .detail-box{
        width: 100%;
        position: fixed;
        bottom: 54px;
        z-index: 2;
        display: flex;
        align-items: center;
        background: #ffffff;
        height: auto;
        padding: 12px 10px;
        margin: 0;
        margin-bottom: -4px;

        -webkit-transform: translateY(100%);
        transform: translateY(100%);

        -webkit-border-top-left-radius: 8px;
        -webkit-border-top-right-radius: 8px;
        -webkit-border-bottom-left-radius: 0px;
        -webkit-border-bottom-right-radius: 0px;

        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.2);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;transition: all 0.5s;

        mcm-progress-bar {
            bottom: $global-small-padding;
        }
    }

    .detail-box.open{
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }

    .marker-cluster{
        border-width: 3px;
        border-style: solid;
        background-color: #ffffff;
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
        div{
            border-width: 3px;
            border-style: solid;
            width: 30px;
            height: 30px;
            margin-left: 2px;
            margin-top: 2px;
            span{
                color: #ffffff;
            }
        }
    }
    .marker-cluster-small{
        border-color: color($colors, primary);
        div{
            border-color: color($colors, primary);
            background-color: color($colors, primary);
            span{
                font: 18px 'NunitoExtrabold', Arial, sans-serif;
                line-height: 26px;
            }
        }
    }
    .marker-cluster-medium, .marker-cluster-large{
        border-color: color($colors, primary-darker);
        div{
            border-color: color($colors, primary-darker);
            background-color: color($colors, primary-darker);
            span{
                font: 14px 'NunitoExtrabold', Arial, sans-serif;
                line-height: 26px;
            }
        }
    }

}


/*  =========== card ===========  */


.card{
    background-color: #ffffff;
    @include border-radius(8px);
    @include box-shadow(0.2);
    padding: $global-base-padding;
    margin: $global-base-padding;
    position: relative;
    z-index: -1;
    &.modal {
        z-index: 10000;
    }
    ion-label, ion-label.label-ios, ion-label.label-md{
        margin-bottom: $global-small-padding*0.8;
    }
    span{
        color: color($colors, dark-grey);
    }
    >p:last-of-type{
        margin-bottom: 0;
    }
    &.has-button-on-the-edge{
        margin-bottom: $global-base-padding*1.5;
        padding-bottom: $global-base-padding*1.5;
    }
    button{
        &.on-the-edge{
            position: absolute;
            right: $global-base-padding;
            bottom: -$global-base-padding;
        }
    }
    .on-the-edge-container{
        position: absolute;
        right: $global-base-padding;
        bottom: -14px;
        width: calc( 100% - 40px);

        text-align: right;

        button{
            margin: 0;
            .hint{
                padding: $global-small-padding;
            }
            img{
                min-width: 28px;
                width: 28px;
            }
        }
        .grid {
            .row{
                text-align: center;
                &>.col:first-of-type{
                    text-align: left;
                }
                &>.col:last-of-type{
                    text-align: right;
                }
                *>*{
                    height: 28px;
                }
            }
            white-space: nowrap;
            width: 100%;
        }
    }

    .item,
    ion-select{
        width:100%;
        max-width:100%;
        padding-left: 0;

        .select-icon .select-icon-inner,
        .select-md .select-icon .select-icon-inner{
            border: 0 solid!important;
            content: url(../assets/icons/icon_dropdown-arrow.svg);
            width: 20px;
            height: 20px;
            top: 0;
            left: 0;
        }
    }
}


img{
    &.primary{
        background-color:  color($colors, primary);
    }
    &.danger{
        background-color:  color($colors, danger);
    }
    &.round{
        /* android fix: set to unreachable fixed radius */
        @include border-radius(1000px);
    }
    &.bordered{
        @include border(3px, solid, white);
    }
    &.used{
        opacity: 0.5;
    }
}
.dotted-border-top{
    border-top: 2px dotted color($colors, light-grey)!important;
}
.dotted-border-left{
    border-left: 2px dotted color($colors, light-grey);
    margin-left: 10px;
    padding-left: 10px!important;
}
.dotted-border-right{
    border-right: 2px dotted color($colors, light-grey);
    margin-right: 10px;
    padding-right: 10px!important;
}
.dotted-border-bottom{
    border-bottom: 2px dotted color($colors, light-grey)!important;
}


/*  ========== Buttons =========  */

button{
    &[disabled].button-default,
    &[disabled= true].button-default{
        opacity: 1!important;
        background-color: color($colors, grey);
        img{
            background-color: color($colors, grey);
        }
    }
    &[disabled].button-clear,
    &[disabled= true].button-clear{
        opacity: 1!important;
        img{
            background-color: color($colors, grey);
        }
    }
    &.button-round-ios.button-small-ios,
    &.button-round-md.button-small-md{
        font-family: 'NunitoExtrabold', Arial, sans-serif;
        line-height: 1.4;
        text-transform: none;
        min-width: 90px;
        padding: 0 15px;
        span{
            color: #fff;
            font-family: 'NunitoExtrabold', Arial, sans-serif;
        }
        &:last-child{
            margin-right: 0;
        }
    }

    &.solution{
        background-color: color($colors, secondary);
        &.activated{
            background-color: color($colors, secondary-dark);
        }
    }
}


/*  ========== FAB Buttons =========  */

.fab-container{
    position: absolute;
    top: -4px;
    right: 0;
}
ion-fab{
    button{
        box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.2);
    }
}
.fixed-content ion-fab[bottom]{
    bottom: 14px;
}

ion-fab-list{
    margin: 44px 0;
    .fab-in-list{
        margin: 4px 0;
    }
}

.ion-md-icon-add-privateroute:before,
.ion-ios-icon-add-privateroute:before{
    background-image: url(../assets/icons/icon_add.svg);
    background-size: 21px 21px;
    width: 22px;
    height: 21px;
    content:"";
    margin-top: 4px;

}

.ion-md-close:before,
.ion-ios-close:before{
    background-image: url(../assets/icons/icon_close-modal.svg);
    background-size: 22px 22px;
    width: 22px;
    height: 20px;
    content:"";
}
.ion-md-icon-restart:before,
.ion-ios-icon-restart:before{
    background-image: url(../assets/icons/icon_restart.svg);
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    content:"";
    vertical-align: middle;
}
.ion-md-icon-starting-point:before,
.ion-ios-icon-starting-point:before{
    background-image: url(../assets/icons/icon_starting-point.svg);
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    content:"";
    vertical-align: middle;
}
.ion-md-icon-visibility:before,
.ion-ios-icon-visibility:before{
    background-image: url(../assets/icons/icon_visibility.svg);
    background-size: 22px 22px;
    width: 22px;
    height: 20px;
    content:"";
}
.ion-md-icon-track-gps:before,
.ion-ios-icon-track-gps:before{
    background-image: url(../assets/icons/icon_track-gps.svg);
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    content:"";
    margin-top: 4px;
}


/*  ========== Modals/ Popups/ Toast =========  */

ion-modal {
    ion-backdrop {
        visibility: visible;
    }
    .modal-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;

        & > *{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .modal-content{
            max-height: 70vh;
            overflow: scroll;
        }
    }

    //REAL MODALS
    .modal.card{
        h2{
            font-family: 'NunitoExtrabold', Arial, sans-serif;
            font-size: 18px;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin: 0 0 $global-base-padding;
        }
        p, .highlight{
            font-size: 16px;
            line-height: 1.6;
            &.progress-files{
                color: color($colors, grey);
            }
        }

        img{
            width: 100px;
            display: block;
            margin: $global-base-padding auto;
            &.full-width{
                width:100%;
            }
        }

        &.hint, &.positive, &.negative{
            padding-top: $global-large-padding;
            padding-bottom: $global-large-padding;
            text-align: center;
            p{
                margin: $global-small-padding 0;
            }
            .highlight{
                display: inline-block;
                font-family: 'NunitoExtrabold', Arial, sans-serif
            }
        }

        //HINTs®
        &.hint{
            h2, .highlight{
                color: color($colors, primary);
            }
            button{
                background-color: color($colors, primary);
            }
        }
        &.positive{
            h2, .highlight{
                color: color($colors, success);
            }
            button{
                background-color: color($colors, success);
            }
        }
        &.negative{
            h2, .highlight{
                color: color($colors, danger);
            }
            button{
                background-color: color($colors, danger);
            }
        }
        &.task-select{
            h2{
                margin: 0 0 8px;
            }
            p{
                margin-bottom: 15px;
            }
            .dotted-border-bottom{
                padding-bottom: 10px;
                margin-bottom: 10px;
            }
        }
        .on-the-edge-container{
            white-space: nowrap;
            button{
                margin-left: $global-base-padding;
            }
        }
    }


}

/*  ========== Progress Bars =========  */

$progress-height: 6px;
.progress-bar{
    background-color: color($colors, grey);
    height: $progress-height;
    margin-top: $progress-height/2;
    @include border-radius($progress-height/2);

    &.progress-route{
        margin-left: $global-small-padding;
    }
    &.progress-download{
        margin-bottom: $global-small-padding;;
    }

    .progress{
        width: 0;
        //prevent initial bug of flull progress bar
        background-color: color($colors, primary);
        height: $progress-height;
        @include border-radius($progress-height/2);
    }
}

//overwrite implicit ionic styling for tabs on ios devices
.ios ion-tab > .ion-page > ion-content.statusbar-padding:first-child .scroll-content{
    padding-top: 0!important;
}