// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.




//============== Global Layout Structure ==============

//HEADER

ion-header{
  ion-navbar{
    border: none;
    border-color: transparent;
  }
  box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.2);
  .toolbar{
    padding: 12px;
  }
  .logo-bar{
    display: flex;
  }
  .toolbar-background{
  background: color($colors, primary);
  }
  .title{
    text-align: center;
    padding: 8px 38px 0px 0px;
    position: relative;
  }
  .toolbar-title{
    color: color($colors, light);
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    overflow: visible;
  }
  .logo-img{
    display: inline-block;
    vertical-align: middle;
    width: 38px;
    height: 38px;
  }
}



//TAB-BAR

.tabs{
  .tabbar{
    border-top: 0.55px solid color($colors, primary);
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.2);
    background: color($colors, primary);
    .tab-button, .tab-button-icon{
      color: color($colors, light)!important;
    }
    .tab-button{
      padding: 5px 5px 6px;
    }
    .has-icon .tab-button-icon, .has-title .tab-button-text{
      display: inline-block;
      vertical-align: middle;
    }
    .tab-button-icon{
      margin: 0;
    }
//    selected state
    .tab-button[aria-selected=true], .tab-button[aria-selected=true] .tab-button-icon{
      background: color($colors, primary-darker);
      transition: all, .3s;
    }
  }
}



//CONTENT

ion-content, .ion-content, .scroll-content{
  padding: 0!important;
}



//MAP

.map{
  #map{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  #details{
    width: 100%;
    position: fixed;
    bottom: -50%;
    z-index: 2;
    background: #ffffff;
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.2);
    -webkit-transition: all 0.5s;-moz-transition: all 0.5s;-ms-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;
  }
  #details.open{
    bottom: 54px;
    -webkit-transition: all 0.5s;-moz-transition: all 0.5s;-ms-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;
  }
}



//ROUTES LIST

.routes-list{
    background: lightgrey;
  .list{
    margin: 10px 0px 0px;
  }
  .item{
    height: 124px;
    padding: 0px 10px 10px 0px;
    box-sizing: border-box;
    background: transparent;
    border: none!important;
    .item-inner{
      margin: 0;padding: 0;
      border: none;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      .input-wrapper{
        background-color: #ffffff;
      }
    }
  }
}

//INFO CARDS LIST & MAP

.label, #details{
  margin: 0;
  display: table;
  width: 100%;
  & > *{
    display: table-cell;
    vertical-align: top;
  }
  .image-container{
    width: 33%;
    overflow: hidden;
    padding: 0;margin: 0;
    position: relative;
  }
  img{
    display: block;
    object-fit: cover;
    background-color: grey;
    min-height: 124px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    max-width: none;
    width: 100%;
  }
  .info-container{
    width: 66%;
    padding: 12px;
    .title{
      margin-bottom: 10px;
      h1{
        font-size: 18px;
        font-weight: 500;
        color: color($colors, primary);
        margin-bottom: 0;
        white-space: normal;
      }
      p{
        width: 100%;
        margin: 0;
      }
    }
    p{
      width: 50%;
      display: inline-block;
      margin: 0;
      margin-bottom: 0px;
      font-size: 12px;
      font-weight: 500;
      color: #444444;
      &.label{
        color: #b4b4b4;
        font-weight: 400;
      }
      &.value{
        text-align: right;
      }
    }
  }
}