// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.




//============== Global Layout Structure ==============

*{
    box-sizing: border-box;
}





//TAB-BAR

.tabs{
    .tabbar{
        border-top: 0.55px solid color($colors, primary);
        box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.2);
        background: color($colors, primary);
        .tab-button, .tab-button-icon{
            color: color($colors, light);
            &[aria-selected="false"]{
                color:rgba(color($colors, light), .4);
            }
        }
        .tab-button{
            padding: 5px 5px 6px;
            min-height: 50px;
        }
        .has-icon .tab-button-icon,
        .has-title .tab-button-text{
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
        }
        .tab-button-icon{
            margin: 0;
        }
        //    selected state
        .tab-button[aria-selected=true], .tab-button[aria-selected=true] .tab-button-icon{
            background: color($colors, primary-darker);
            transition: all, .3s;
        }
    }
}



//CONTENT

.has-header{
    .scroll-content{
        margin-top: calc(54px);
    }
    &.content-ios{
        .scroll-content{
            margin-top: calc(54px + 20px);
        }
    }
}
.pattern-bg{
    .scroll-content{
        background-image: url('../assets/images/math_pattern.png');
        background-repeat: round round;
        background-size: 82px;
    }
}





//ROUTES LIST

.list-ios,
.list-md{
    margin: 0;
}

.routes-list{
    .item{
        height: 124px;
        padding: 0px 10px 10px 0px;
        box-sizing: border-box;
        background: transparent;
        border: none!important;
        .item-inner{
            margin: 0;padding: 0;
            border: none;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            .input-wrapper{
                background-color: #ffffff;
            }
        }
    }
}


// =============================================
// ------------------ INPUTS -------------------

ion-item{
    &.item-input{
        min-height: 0;
    }
    &.itemt-ios,
    &.item-md {
        .item-inner {
            padding: 0;
            height: 30px;
        }
    }

}
input{
    &.text-input-ios,
    &.text-input-md{
        width: 100%;
        margin: 5px 0 5px 0px;
    }
}


// =============================================
// ----------- INFO CARDS LIST & MAP -----------

.detail-box{
    position: relative;
    background-color: #ffffff;
    height: auto;
    width: 100%;
    padding: 20px 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .image-container {
        -webkit-box-flex: 2;
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2;
        max-width: 85px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        &:before {
            content: "";
            display: block;
            margin-top: 100%;
        }
        img {
            object-fit: cover;
            background-color: #b2b2b2;
            position: absolute;
            display: block;
            transform: translateY(-50%);
            top: 50%;
            min-height: 100px;
            border-radius: none;
        }
    }


    .text-container{
        flex: 5;
        padding-left: 20px;

        p{
            margin: 0;
        }
        h2{
            margin-top: 0px;
            margin-bottom: 6px;
            white-space: normal;

            display            : block;
            display            : -webkit-box;
            -webkit-box-orient : vertical;
            position           : relative;
            overflow           : hidden;
            text-overflow      : ellipsis;
            -webkit-line-clamp : 2;
            /* lineheight * line-clamp */
            max-height             : calc(22px * 2);
        }
        .segmented-box{
            display: flex;
            align-items: center;

            .segement{
                flex: 1;

                ion-label, ion-label.label-ios, ion-label.label-md{
                    margin-bottom: 5px;
                }

                &.buttons{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    >.button-container,
                    >span{
                        min-width: 100%
                    }
                    >.button-container{
                        white-space: nowrap;
                        button.dot{
                            width: 30px;
                            height: 30px;
                            padding: 4px;
                            margin: 0;
                            overflow: visible;
                            &:last-of-type{
                                margin-right: -4px;
                            }

                            img{
                                object-fit: contain;
                            }
                        }
                        button.button-round-ios.button-small-ios, button.button-round-md.button-small-md{
                            max-height: 24px;
                            padding: 0 15px;
                            margin: 0;
                            box-shadow: none;
                        }
                    }

                }
                span.downloading{
                    width: 100%;
                    display: block;
                    text-align: center;
                }
            }
        }
    }

    mcm-progress-bar{
        padding: $global-base-padding 0 0 0;
        min-width: calc(100% - 150px);
    }
}

//MAP
.map{
    .map-view{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
    }
    .detail-box{
        width: 100%;
        position: fixed;
        bottom: 54px;
        z-index: 2;
        display: flex;
        align-items: center;
        background: #ffffff;
        height: auto;
        padding: 16px;
        margin: 0;
        margin-bottom: -4px;

        -webkit-transform: translateY(100%);
        transform: translateY(100%);

        -webkit-border-top-left-radius: 8px;
        -webkit-border-top-right-radius: 8px;
        -webkit-border-bottom-left-radius: 0px;
        -webkit-border-bottom-right-radius: 0px;

        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.2);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;transition: all 0.5s;

        mcm-progress-bar {
            bottom: $global-small-padding;
        }
    }

    .detail-box.open{
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }

}


/*  =========== card ===========  */


.card{
    background-color: #ffffff;
    @include border-radius(6px);
    @include box-shadow(0.2);
    padding: $global-base-padding;
    margin: $global-base-padding;
    position: relative;
    z-index: -1;
    ion-label, ion-label.label-ios, ion-label.label-md{
        margin-bottom: $global-small-padding*0.8;
    }
    >p:last-of-type{
        margin-bottom: 0;
    }
    &.has-button-on-the-edge{
        margin-bottom: $global-base-padding*1.5;
        padding-bottom: $global-base-padding*1.5;
    }
    button{
        &.on-the-edge{
            position: absolute;
            right: $global-base-padding;
            bottom: -$global-base-padding;
        }
    }
    .on-the-edge-container{
        position: absolute;
        right: $global-base-padding;
        bottom: -$global-base-padding;

        text-align: right;

        button{
            .hint{
                padding: $global-small-padding;
            }
            img{
                min-width: 28px;
            }
        }
    }

    .item,
    ion-select{
        width:100%;
        max-width:100%;
        padding-left: 0;

        .select-icon .select-icon-inner,
        .select-md .select-icon .select-icon-inner{
            border: 0 solid!important;
            content: url(../assets/icons/icon_dropdown-arrow.svg);
            width: 20px;
            height: 20px;
            top: 0;
            left: 0;
        }
    }
}


img{
    &.primary{
        background-color:  color($colors, primary);
    }
    &.danger{
        background-color:  color($colors, danger);
    }
    &.round{
        /* android fix: set to unreachable fixed radius */
        @include border-radius(1000px);
    }
    &.bordered{
        @include border(3px, solid, white);
    }
    &.used{
        opacity: 0.5;
    }
}
.dotted-border-top{
    border-top: 2px dotted color($colors, light-grey);
    margin-top: 6px;
    padding-top: 8px;
    
}
.dotted-border-left{
    border-left: 2px dotted color($colors, light-grey);
    margin-left: 10px;
    padding-left: 10px!important;
}
.dotted-border-right{
    border-right: 2px dotted color($colors, light-grey);
    margin-right: 10px;
    padding-right: 10px!important;
}
.dotted-border-bottom{
    border-bottom: 2px dotted color($colors, light-grey);
    margin-bottom: 6px;
    padding-bottom: 6px;
}


/*  ========== buttons =========  */

button{
    &[disabled],
    &[disabled= true]
    a[disabled], [ion-button][disabled]{
        opacity: 1!important;
        img{
            background-color: color($colors, grey);
        }
    }
    &.button-round-ios.button-small-ios,
    &.button-round-md.button-small-md{
        font-family: 'NunitoExtrabold', Arial, sans-serif;
        line-height: 1;
        text-transform: none;
        min-width: 90px;
        padding: 0 15px;
        &:last-child{
            margin-right: 0;
        }
    }

    &.solution{
        background-color: color($colors, secondary);
        &.activated{
            background-color: color($colors, secondary-dark);
        }
    }
}


/*  ========== Modals/ Popups/ Toast =========  */

ion-modal {
    ion-backdrop {
        visibility: visible;
    }
    .modal-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;

        & > *{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    //REAL MODALS
    .modal.card{
        h2{
            font-family: 'NunitoExtrabold', Arial, sans-serif;
            font-size: 15px;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin: 0 0 $global-small-padding;
        }
        p, .highlight{
            font-size: 14px;
            line-height: 1.6;
            &.progress-files{
                color: color($colors, grey);
            }
        }

        &.hint, &.positive, &.negative{
            padding-top: $global-large-padding;
            padding-bottom: $global-large-padding;
            text-align: center;
            img{
                width: 130px;
                margin: $global-base-padding 0;
            }
            p{
                margin: $global-small-padding 0;
            }
            .highlight{
                display: inline-block;
                font-family: 'NunitoExtrabold', Arial, sans-serif
            }
        }

        //HINTs®
        &.hint{
            h2, .highlight{
                color: color($colors, primary);
            }
            button{
                background-color: color($colors, primary);
            }
        }
        &.positive{
            h2, .highlight{
                color: color($colors, secondary);
            }
            button{
                background-color: color($colors, secondary);
            }
        }
        &.negative{
            h2, .highlight{
                color: color($colors, danger);
            }
            button{
                background-color: color($colors, danger);
            }
        }

    }

}

/*  ========== Progress Bars =========  */

$progress-height: 6px;
.progress-bar{
    background-color: color($colors, grey);
    height: $progress-height;
    margin-top: $progress-height/2;
    @include border-radius($progress-height/2);

    &.progress-route{
        margin-left: $global-small-padding;
    }
    &.progress-download{
        margin-bottom: $global-small-padding;;
    }

    .progress{
        width: 0;
        //prevent initial bug of flull progress bar
        background-color: color($colors, primary);
        height: $progress-height;
        @include border-radius($progress-height/2);
    }
}
