@font-face {
    font-family: 'NunitoSemibold';
    src: url('../assets/fonts/nunito/Nunito-SemiBold.ttf')  format('truetype');
}
@font-face {
    font-family: 'NunitoBold';
    src: url('../assets/fonts/nunito/Nunito-Bold.ttf')  format('truetype');
}
@font-face {
    font-family: 'NunitoExtrabold';
    src: url('../assets/fonts/nunito/Nunito-ExtraBold.ttf')  format('truetype');
}

@font-face {
    font-family: 'CaveatBrush';
    src: url('../assets/fonts/CaveatBrush-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: 'Pangolin';
    src: url('../assets/fonts/Pangolin-Regular.ttf')  format('truetype');
}



h1, h2, h3, h4, h5, h6, p, span, body, ion-app.ios, ion-app.md{
    -webkit-font-smoothing: antialiased;
    font-family: 'NunitoSemibold', Arial, sans-serif;
}

h1{
    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
    color: color($colors, primary);
}
h2{
    font-family: 'NunitoBold', Arail, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    color: color($colors, primary);
}
p{
    font-size: 14px;
    line-height: 1.6;
    font-weight: 500;
    color: color($colors, dark-grey);
}
.alert-md,
.alert-ios {
    .alert-message,
    .alert-input-group{
        font-size: 16px;
    }
    .alert-button .button-inner,
    button span{
        font-size: 18px;
    }
}
ion-label,
ion-label.label-ios,
ion-label.label-md{
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: color($colors, grey);
    display: block;
    margin: 0 0 5px 0;
}
span{
    display: block;
    font-size: 13px;
}

@mixin bolder{
    font-family: 'NunitoExtraBold', Arial, sans-serif;
}

input{
    &.text-input-ios,
    &.text-input-md{
        font-size: 13px;
        line-height: 1.6;
        font-weight: 500;
        color: color($colors, dark-grey);
    }
}



.text-left{text-align:left}
.text-center{text-align:center}
.text-right{text-align:right}


.pirates {
    h1{
        color: $c-primary;
    }
    h2{
        color: $c-primary;
    }
    p{
        color: $c-danger;
    }
}
