@font-face {
   font-family: 'NunitoSemibold';
   src: url('../assets/fonts/nunito/nunito-semibold.ttf')  format('truetype');
}
@font-face {
   font-family: 'NunitoBold';
   src: url('../assets/fonts/nunito/nunito-bold.ttf')  format('truetype');
}
@font-face {
   font-family: 'NunitoExtrabold';
   src: url('../assets/fonts/nunito/nunito-extrabold.ttf')  format('truetype');
}
@font-face {
   font-family: 'NunitoBlack';
   src: url('../assets/fonts/nunito/nunito-black.ttf')  format('truetype');
}

@font-face {
   font-family: 'RobotoBold';
   src: url('../assets/fonts/roboto-bold.ttf')  format('truetype');
}

@font-face {
   font-family: 'CaveatBrush';
   src: url('../assets/fonts/remover.ttf')  format('truetype');
}

@font-face {
   font-family: 'Pangolin';
   src: url('../assets/fonts/pangolin-regular.ttf')  format('truetype');
}


html{
   font-size: 17px;
   font: -apple-system-body;
}


h1, h2, h3, h4, h5, h6, p, span, body, ion-app.ios, ion-app.md{
   font-family: 'NunitoSemibold', Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   white-space: normal;
   hyphens: none !important;
   overflow-wrap: anywhere;
   word-break: break-word;
}

h1{
   font-family: 'NunitoExtraBold', Arial, sans-serif;
   font-size: 1.411765rem;
   line-height: 1.2;
   font-weight: 500;
   color: color($colors, primary);
}
h2{
   font-family: 'NunitoBold', Arial, sans-serif;
   font-size: 1.058824rem;
   line-height: 1.2;
   font-weight: 600;
   color: color($colors, primary);
}
h3{
   font-family: 'NunitoExtraBold', Arial, sans-serif;
   font-size: 1.035294rem;
   line-height: 1.2;
   font-weight: 600;
}
h4{
   font-family: 'NunitoExtraBold', Arial, sans-serif;
   font-size: 0.941176rem;
   line-height: 1.2;
   font-weight: 600;
}
p{
   font-size: 0.823529rem;
   line-height: 1.44;
   font-weight: 500;
   color: color($colors, dark-grey);
}

svg{
   text{
      font-family: 'NunitoBlack', Arial, sans-serif;
      font-weight: 900;
   }
}
.alert-md,
.alert-ios {
   .alert-message,
   .alert-input-group{
      font-size: 0.941176rem;
   }
   .alert-button .button-inner,
   button span{
      font-size: 1.058824rem;
   }
}

ion-label,
ion-label.label-ios,
ion-label.label-md{
   font-family: "RobotoBold", Arial, sans-serif;
   font-weight: 600;
   font-size: 0.823529rem;
   letter-spacing: 0.5px;
   text-transform: uppercase;
   color: color($colors, dark-grey);
   display: block;
   margin: 0 0 6px 0;

   p{
      margin-top: $global-medium-padding;
      text-transform: none;
   }
}

.item{
   p{
      font-size: 0.823529rem;
      line-height: 1.44;
      font-weight: 500;
      color: color($colors, dark-grey);
   }
}

span{
   display: block;
   font-size: 0.823529rem;
}

@mixin bolder{
   font-family: 'NunitoExtraBold', Arial, sans-serif;
}

input{
   &.text-input-ios,
   &.text-input-md{
      line-height: 1.4;
      font-weight: 500;
   }
}



.text-left{text-align:left}
.text-center{text-align:center}
.text-right{text-align:right}


.pirates {
   h1{
      color: $c-primary;
   }
   h2{
      color: $c-primary;
   }
   p{
      color: $c-danger;
   }
}

@media screen and (min-width: 768px) {
   h2{
      font-size: 1.1764705882rem;
   }
}
