page-progress {
   //FIXME This is temporary and needs to be done properly :D
   .card {
      display: flex;
      .cover {
         width: 16vw;
         height: 16vw;
         position: relative;
         border-radius: 50%;
         -webkit-box-sizing: border-box;
         box-sizing: border-box;
         overflow: hidden;
         background: blue;
         -webkit-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.3);
         box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.3);
         :before {
            content: '';
            display: block;
            width: 100%;
            padding-top: 100%;
         }

         .thumb {
            position: absolute;
            height: calc(65% + 2px);
            width: calc(65% + 2px);
            top: 10px;
            left: 10px;
            max-width: none;
            max-height: none;
         }
      }
      .progress {
         max-width: 80%;
         display: block;
      }
   }
}

$header-height: 50vh;
$header-space-top: 26px;
$content-edge: 100px;

.achievement{
   &-header {
      position: sticky;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 0;
      width: 100%;
      top: 0;
      left: 0;
      height: $header-height;
      background: url("../../assets/icons/bg-pattern.svg") center /100% 100% no-repeat color($colors, primary);
      text-align: center;
      padding: calc(#{$header-space-top} + env(safe-area-inset-top)) 20px 0;
      box-sizing: border-box;
      .title{
         font-size: 1.647059rem;
         line-height: 1.1;

         &-container{
            min-height: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: $global-small-padding;

            & > *{
               color: color($colors, light)!important;
            }
         }

      }
   }


   &-content {
      position: relative;
      display: block;
      z-index: 2;
      transform: translateY(-#{$content-edge});

      .title{
         &.main{
            &.light{
               color: color($colors, light);
            }
         }
      }
      
      &:after{
         content: '';
         position: absolute;
         bottom: 0;
         z-index: -2;
         width: 100%;
         height: calc(100% - #{$content-edge});
         background: color($colors, light-grey-tint);
      }

      .card{
         &.total{
            text-align: center;
            min-height: 100px;
            display: flex;
            align-items: center;
         }
      }
   }
}

