<mcm-header></mcm-header>
<ion-content class="has-header pattern-bg">
  <div class="card " *ngIf="route">
    <p>Location, Country</p>
    <h2>{{ route.Title }}</h2>
  </div>
  <div class="image-box">
    <ion-grid>
      <ion-row align-items-center>
          <ion-col col-3 class="button-container">
              <img class="primary round" *ngIf="route.downloaded == false" src="./assets/icons/icon_download-large.svg"/>
              <img class="danger round" *ngIf="route.downloaded == true" src="./assets/icons/icon_delete-large.svg"/>
          </ion-col>
        <ion-col>
          <img *ngIf="route.Thumb" src="route.Thumb" class="round bordered" />
          <img *ngIf="!route.Thumb" src="./assets/images/img_default_image.gif" class="round bordered" />
        </ion-col>
        <ion-col col-3 class="button-container">
            <img class="primary round" *ngIf="route.downloaded == true" src="./assets/icons/icon_play-large.svg"/>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
