
<div class="container start">
<!--   TODO add "playing" calss when speech is active-->
   <div class="play-container">
      <img class="icon" src="../../assets/icons/speaker.svg"/>
   </div>
   <h3 class="title">Read Aloud</h3>
</div>
<ion-buttons class="container end">
   <button ion-button icon-only color="secondary">
      <img class="icon" src="../../assets/icons/repeat.svg"/>
   </button>
   <button ion-button icon-only color="secondary">
      <img class="icon" src="../../assets/icons/close.svg"/>
   </button>
</ion-buttons>
