<div class="main">
    <div *ngIf="route" class="container image" [ngClass]="{'downloaded' : !!route.downloaded, 'completed': !!route.completed}">
        <div class="cover">
            <img class="thumb" [attr.data-async-src]="route.getImageURL()" onerror="this.style.opacity='0'" />
        </div>
        <img *ngIf="route.isNarrativeEnabled()" class="indicator" src="./assets/images/{{route.getNarrativeName()}}/indicator-badge.svg"/>
    </div>

    <div *ngIf="route" class="container text">
        <h2 class="item-text-wrap">{{route.title}}</h2>
        <div class="bottom">
            <div class="text">
            <span class="icon location">{{route.city}}, {{route.countryCode}} | {{route.distance | distance: 'm'}}</span>
            <span class="icon grade" *ngIf="route.grade">{{route.grade}} +</span>
            </div>
            <div *ngIf="route" class="container buttons">
                <button ion-button icon-only round color="primary" class="dot" *ngIf="!route.downloaded && isOnline" (click)="doDownload($event, route)">
                    <img src="./assets/icons/download.svg"/>
                </button>
                <button ion-button icon-only round color="danger" class="dot" *ngIf="!!route.downloaded" (click)="deleteRoute(route)">
                    <img src="./assets/icons/delete.svg"/>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="secondary">
    <span class="icon downloaded" no-margin>{{route.downloadedDate}}</span>
    <mcm-progress-bar *ngIf="route && route.downloadedDate && !route.completed" class="icon finished" [route]="route" ></mcm-progress-bar>
    <div *ngIf="route?.completed">
        <div>{{route.completedDate}}</div>
        <div>{{route.scores[0].getTasksSolved().length}}</div>
        <div>{{route.scores[0].getTasksSolvedLow().length}}</div>
        <div>{{route.scores[0].getTasksFailed().length}}</div>
    </div>
</div>
