route-teaser {
    position: relative;
    display: block;
    .main, .secondary{
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
    }
    span, p{
        color: color($colors, greygrey);
        margin: 0;
    }
    .main{
        flex-wrap: nowrap;
        height: auto;
        background-color: color($colors, light);
        padding: $global-base-padding*0.75;

        .container{
            &.image, &.buttons{
                flex-basis: auto;
                flex-grow: 0;
            }
            &.buttons{
                align-self: flex-end;
                .button.dot{
                    min-width: unset;
                    width: 24px;
                    height: 24px;
                    margin: 0;
                    box-shadow: none!important;
                    img{
                        object-fit: contain;
                    }
                }
            }
            &.image{
                position: relative;
                display: inline-block;
                border-radius: 50%;
                .cover{
                    position: relative;
                    border-radius: 50%;
                    box-sizing: border-box;
                    overflow: hidden;
                    background: no-repeat center/50% url("../assets/icons/placeholder.svg") color($colors, light-grey);
                    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.3);
                    &:before {
                        content: '';
                        display: block;
                        width: 100%;
                        padding-top: 100%;
                    }
                    .thumb{
                        position: absolute;
                        height: calc(100% + 2px);
                        width: calc(100% + 2px);
                        top: -1px;
                        left: -1px;
                        max-width: none;
                        max-height: none;
                        object-fit: cover;
                    }

                }
                svg.progress {
                    display: none;
                }
            }
            &.image{
                $circle-size: 18vw;
                width: $circle-size;
                height: $circle-size;
                .indicator{
                    $item-size: 28px;
                    display: block;
                    position: absolute;
                    top:  50%;
                    left: 50%;
                    width:  $item-size;
                    height: $item-size;
                    margin: (-($item-size / 2 + 4px)) (-($item-size / 2));

                    $item-count: 1;
                    $angle: (360 / $item-count);
                    $rot: 45;
                    transform:
                        rotate($rot * 1deg)
                        translate($circle-size / 2)
                        rotate($rot * -1deg);
                }
            }


            &.text{
                flex: 1;
                padding-left: $global-small-padding;
                box-sizing: border-box;
                p{
                    margin: 0;
                    display: inline-block;
                    line-height: 1.4;
                    span{
                        margin-top: 4px;
                        display: inline-block;
                    }
                }
                span{
                    &.icon{
                        margin-top: 4px;
                    }
                }
                h2{
                    display: block;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    white-space: initial;
                    text-overflow: ellipsis;
                    margin: 0 0 2px;
                }
                .bottom{
                    display: flex;
                    align-items: flex-end;
                    .text{
                        flex: 1;
                    }
                    .buttons{
                        padding-left: $global-small-padding;
                    }
                }
            }
        }
    }
    $info-type: location grade downloaded finished key;
    .icon, .icon > span{
        line-height: 1.2;
        position: relative;
        &:before{
            display: inline-block;
            position: relative;
            vertical-align: middle;
            @include size(12px);
            margin-right: 6px;
            margin-bottom: 3px;
        }
        @each $type in $info-type {
            &.#{$type} {
                &:before{
                    content: url("../assets/icons/#{$type}.svg");
                }
            }
        }
    }
    .secondary{
        display: none;
        width: 100%;
        background-color: rgba(3, 109, 153, 0.05);
        padding: $global-small-padding $global-medium-padding;
    }


    //==// Downloaded routes //==//

    &.downloaded{
        border: none!important;
        display: flex;
        flex-direction: column;
        background: white;
        .main{
            flex: 1;
            align-items: flex-end;
            padding: 22px $global-medium-padding $global-base-padding*0.75;
        }
        .container{
            &.image{
                order: 3;
                @include size(16vw);
                svg.progress {
                    $extra-space: 20px;

                    position: absolute;
                    display: block;
                    @include size(calc(100% + #{$extra-space}));
                    left: -#{$extra-space/2};
                    top: -#{$extra-space/2};
                    transform: rotate(-90deg);

                    circle{
                        stroke-width: 3.6px;
                        fill: none;
                        stroke-linecap: round;
                        &.progress__meter {
                            stroke: color($colors, light-grey);
                        }
                        &.progress__value {
                            stroke: color($colors, primary);
                            transition: all 0.44s ease-in-out;
                        }
                    }
                }

            }
            &.text{
                padding-left: 0!important;
                padding-right: $global-small-padding;
                .bottom{
                    .text{
                        flex: 1;
                        & > *{
                            display: inline-block;
                            margin-right: 8px;
                        }
                    }
                }
            }
            &.buttons{
                display: none;
            }
        }
        .secondary {
            display: flex;
            justify-content: space-between;
            .evaluation {
                flex: unset;
            }
            & > :not(:first-child) {
                padding-left: $global-base-padding/2;
                &:after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    height: 80%;
                    border-right: 2px dotted rgba(color($colors, primary-darker), 0.2);
                }
            }
            mcm-progress-bar{
                flex: 1;
            }
        }
    }
}


// Page Specifications

routes{
    &-list{
        route-teaser{
            &:not(:nth-child(1)){
                &:not(.downloaded){
                border-top: 2px dotted color($colors, light-grey)!important;
                margin-top: -2px;
                }
            }
            &:last-of-type{
                &.downloaded{
                    margin-bottom: $fab-size+$global-large-padding!important;
                }
            }
            &.downloaded{
                min-height: 36vw;
                margin: 12px 8px;
                border-radius: 8px;
                overflow: hidden;
                box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
            }
        }
    }
    &-map{
        route-teaser{
            width: 100%;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            overflow: hidden;
            .main{
                padding: $global-base-padding*0.75;
            }
            .secondary{
                padding-bottom: $global-base-padding*0.75;
            }
            &.downloaded{
            }
        }
        .detail-box{
            padding: 0!important;
        }
    }
}


@media screen and (min-width: 768px){
    routes-list, routes-map {
        route-teaser {
            .main {
                padding: $global-base-padding!important;
                .container{
                    &.image{
                        .indicator{
                            right: 0;
                            top: 100%;
                            left: unset;
                            transform: rotate(45deg) rotate(-45deg) translate(4px, calc(-100% - 4px));
                            margin: 0;
                        }
                    }
                    &.text{
                        padding-left: $global-base-padding;
                        span.icon{
                           font-size: 0.941176rem;
                        }
                    }
                    &.buttons{
                        .button.dot{
                            @include size(34px);
                        }
                    }
                }
            }
            .secondary{
                padding-left: $global-base-padding;
                padding-right: $global-base-padding;
            }
            &.downloaded{
                min-height: unset;
            }
        }
    }
    routes-list {
        ion-list {
            display: flex;
            flex-wrap: wrap;
            route-teaser {
                flex-basis: 50%;
                &:nth-of-type(even){
                    border-left: 1px dotted color($colors, light-grey) !important;
                }
                &.downloaded{
                    margin: 8px;
                    flex-basis: calc(50% - 8px*2);
                    &:last-of-type, &:nth-of-type(odd):nth-last-child(2){
                        margin-bottom: calc(#{$fab-size} + #{$global-base-padding})!important;
                    }
                }
            }
        }
    }
    route-teaser, .detail-box {
        .container.image, .image-container {
            max-width: 100px;
            max-height: 100px;
        }
    }
    .map .detail-box {
        padding: $global-base-padding;
        .text-container{
            max-width: unset;
            padding-left: $global-base-padding;
            .segmented-box{
                .segment.buttons{
                    button.button-round-ios.button-small-ios, button.button-round-md.button-small-md{
                        max-height: 34px;
                        padding: 0 $global-base-padding;
                    }
                }
            }
        }
    }
}
