<div class="modal card has-button-on-the-edge">
    <div class="head">
        <h2>{{"rdl_title_map" | translate}}</h2>
    </div>
    <div>
        <ion-grid no-padding>
            <ion-row>
                <ion-col>
                    <div class="progress-bar progress-download">
                        <div class="progress" [ngStyle]="{'width': ((100/total)*currentProgress) +'%'}"></div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <p *ngIf="total != 0">{{((100/total)*currentProgress).toFixed(0)}}%</p>
                </ion-col>
                <ion-col col-6 text-right>
                    <p class="progress-files">{{ currentProgress }} / {{ total }}</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="on-the-edge-container">
        <button ion-button small round >{{ "alert_cancel" | translate }}</button>
    </div>
</div>
