page-map {

  .marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
  }

  .mapboxgl-marker {
    background-image: url("../../../../assets/icons/mapposition.png");
    background-color: black;
    height: 30px;
    width: 30px;
  }
}