<ion-header>
    <ion-toolbar hideBackButton [attr.transparent]="transparent ? true : null">
        <ion-buttons left>
            <button ion-button icon-only *ngIf="showBackButton && currentpage != 'ModalCmp'" (click)="goBack()">
                <img class="header-icon" src="assets/icons/back.svg"/>
            </button>
            <button ion-button icon-only *ngIf="currentpage == 'ModalCmp'" (click)="closeModal()">
                <img class="header-icon" src="assets/icons/back.svg"/>
            </button>
        </ion-buttons>
        <ion-title>{{ retriveTitle() | translate }}</ion-title>
        <ion-buttons end>
<!--           TODO enable translation button in detailed views-->
           <button *ngIf="showTranslate" ion-button color="light" class="translation" (click)="translateClicked.emit()">
              <img class="icon" src="assets/icons/translation-download.svg"/>
              <div *ngIf="!translatePage && !translationFetched">Translation</div>
              <div *ngIf="!translatePage && translationFetched">Translate</div>
              <div *ngIf="translatePage">Translated</div>
           </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
