<ion-content class="map has-header">

  <div id="map" class="map-view"></div>

  <div id="details" class="detail-box" [ngClass]="{'open': routeDetails != null}">
      <div class="image-container">
          <img *ngIf="routeDetails && routeImage" [src]="routeImage || '//:0'" />
      </div>
      <div class="text-container" *ngIf="routeDetails">
          <p>{{routeDetails.getInfo("city")}}, {{routeDetails.getInfo("country_code")}}</p>
          <h2>{{routeDetails.title}}</h2>
        <div class="segmented-box">
          <div class="segement distance" *ngIf="routeDetails">
              <label>{{ "general.distance" | translate }}</label>
              <span>{{routeDetails.getInfo("distance")}} m</span>
          </div>
          <div class="segement grade" *ngIf="routeDetails">
              <label>{{ "general.grade" | translate }}</label>
              <span>{{routeDetails.getInfo("grade")}}</span>
          </div>
          <div class="segement buttons">
                <button *ngIf="routeDetails && routeDetails.downloaded" ion-button icon-only clear (click)="showRoute(routeDetails)">
                      <img src="./assets/icons/icon_route-info.svg"/>
                  </button>
            <button *ngIf="routeDetails && !routeDetails.downloaded"  ion-button icon-only clear (click)="doDownload(routeDetails)">
                    <img src="./assets/icons/icon_route-download.svg"/>
            </button>

              <button *ngIf="routeDetails && routeDetails.downloaded" ion-button icon-only clear (click)="removeRoute(routeDetails)">
                    <img src="./assets/icons/icon_route-delete.svg"/>
              </button>

              <span *ngIf="isDownloading" class="downloading">
                {{doneDownload}} / {{totalDownload}}
              </span>
          </div>
        </div>
      </div>
    </div>

</ion-content>
