<ion-content padding class="map">
  <div id="map"></div>
  <!-- *ngClass="{true: 'open', false: ''}[routeDetails != null]" -->
  <div id="details" [ngClass]="{'open': routeDetails != null}">
    <div class="image-container">
      <img *ngIf="routeDetails && routeImage" [src]="routeImage || '//:0'" />
    </div>
    <div class="info-container">
      <div class="title" *ngIf="routeDetails">
        <h1>{{routeDetails.title}}</h1>
        <p>{{routeDetails.getInfo("city")}}, {{routeDetails.getInfo("country_code")}}</p>
      </div>
      <hr>
      <div class="grade" *ngIf="routeDetails">
        <p class="label">From grade</p><p class="value">{{routeDetails.getInfo("grade")}}</p>
      </div>
      <div>
        <button *ngIf="routeDetails && !routeDetails.downloaded" ion-button (click)="doDownload(routeDetails)" color="dark">Download</button>
        <span *ngIf="isDownloading">
          {{doneDownload}} / {{totalDownload}}
        </span>
        <button *ngIf="routeDetails && routeDetails.downloaded" ion-button (click)="showRoute(routeDetails)" color="dark">Anzeigen</button>
        <button *ngIf="routeDetails && routeDetails.downloaded" ion-button (click)="removeRoute(routeDetails)" color="dark">Entfernen</button>
      </div>
    </div>
  </div>
</ion-content>
