page-tasks-map {
    .map .detail-box {
        bottom: 0;
        &.ranking{
            padding: 14px 16px 10px;
            bottom: auto;
            position: fixed;
            left:60px;
            right:60px;
            width: calc( 100% - 120px) ;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            -webkit-transform: none;
            transform: none;
            .ranking{
                flex: 1;
                margin-bottom: 3px;
                padding-bottom: 3px;

                &.current p{
                    color: color($colors, primary);

                }
            }
            .col{
                padding: 0;
                color: color($colors, primary);
                &:last-of-type{
                    text-align: right;
                }
            }
        }
    }
}
.platform-ios{
    .map .detail-box {
        &.ranking{
            top: 74px;
        }
    }
}
.platform-android{
    .map .detail-box {
        &.ranking{
            top: 56px;
        }
    }
}