<mcm-header></mcm-header>
<ion-content class="has-header map">
  <div id="tasks-map" class="map-view"></div>

  <span *ngIf="route">{{route.title}}</span>
  <span *ngIf="route">{{showPopup}}</span>

  <div id="details" class="detail-box" [ngClass]="{'open': showPopup == true}">
      <div class="image-container">
          <img *ngIf="taskDetails && routeImage" [src]="routeImage || '//:0'" />
      </div>
      <div class="text-container" *ngIf="taskDetails">
          <p>task details</p>
          <h2>task title</h2>
        <div class="segmented-box">
          <div class="segement distance" *ngIf="taskDetails">
              <ion-label>{{ "distance" | translate }}</ion-label>
              <span>entfernung m</span>
          </div>
          <div class="segement grade" *ngIf="taskDetails">
              <ion-label>{{ "grade" | translate }}</ion-label>
              <span>klasse</span>
          </div>
          <div class="segement">

          </div>
        </div>
      </div>
    </div>

</ion-content>
