page-tasks-map {
    .map .detail-box {
        bottom: 0;
        &.ranking{
            padding: 14px 16px 10px;
            bottom: auto;
            position: fixed;
            top: 56px;
            left:60px;
            right:60px;
            width: calc( 100% - 120px) ;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            -webkit-transform: none;
            transform: none;
        }
    }

    .marker-cluster {
        img {
            position: absolute;
            top: 2px;
            left: 2px;
            @include border-radius(15px);
            width: 30px;
            height: 30px;
        }
        span {
            position: absolute;
            width: 24px;
        }
    }
}
.platform-ios{
    page-tasks-map .map .detail-box {
        &.ranking{
            top: 74px;
        }
    }
}
.md,
.platform-android{
    page-tasks-map .map .detail-box {
        &.ranking{
            top: 56px;
        }
    }
}

.leaflet-marker-icon.marker.userPosition{
    z-index: 10!important;
}


.ranking{
    flex: 1;
    margin-bottom: 3px;
    padding-bottom: 3px;

    &.current p{
        color: color($colors, primary);

    }
}
.col {
    ion-label{
        padding: 0;
        color: color($colors, dark-grey);
    }
    &:last-of-type{
        text-align: right;
    }
}